{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/my_clients.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

        <!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->

        <form action="/my_clients" method="get" class="wrapp_filter">

            <label class="label1 big">Сортировка:</label>

            <div class="wrapp_castom_select sorting">

                <select data-placeholder="По умолчанию">
                    <option value=""></option>
                    <option value="1">По умолчанию</option>
                    <option value="2">По оборотам</option>
                    <option value="4">По наименованию</option>
                </select>

            </div>

            <div class="wrapp_search">
                <input type="text" name="search_string">
                <button class="search_btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>

        <!-- - - - - - - - - - - - - - End of Form - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->

        <table class="table_order table_toggle">

            <thead>

                <tr>
                    <th>
                        Наименование
                    </th>

                    <th class="">
                        Имя ответственного лица
                    </th>

                    <th class="">
                        Телефон
                    </th>

                    <th class="">
                        Общий оборот, руб
                    </th>

                </tr>

            </thead>

            <tbody>
                {% for customer_id, customer in customers.items %}
                    <tr class="toggle_btn_row">

                        <td data-title="Наименование">
                            <div class="toggle_btn">{{ customer.company_name }}</div>
                        </td>

                        <td data-title="Имя ответственного лица">{{ customer.signer_fio }}</td>
                        <td data-title="Телефон">{{ customer.phone }}</td>
                        <td data-title="Общий оборот, руб">{{ customer.customer_total }}</td>
                    </tr>


                    <tr class="toggle_row">
                        <td colspan="4">
                            <div class="toggle_box">
                                <ul class="dropdown_menu">
                                    {% for tp in customer.trade_points %}
                                        <li class="clearfix">

                                            <a href="javascript:;" class="dropdown_link">{{ tp.address.castrate_nicely }}</a>

                                            <div class="clear"></div>
                                            <div class="dropdown_item">
                                                {% for order in tp.related_orders %}
                                                    <p>
                                                        <span> Заказ №{{ order.id }} </span>
                                                        <time datetime="2018-09-03"> {{ order.created|date:'d.m.Y' }}</time>
                                                        <span> {{ order.calculate_sum }}р</span>
                                                    </p>
                                                    {% for order_unit in order.related_units %}
                                                        <!-- product 2 -->
                                                        <div class="box_form_products_item block_closest clearfix">

                                                            <div class="box_form_products_item_img hide hide_xs count_products" data-mh="height-products">
                                                                <a href="#form_product1" class="btn_popup">
                                                                    <img src="{{ order_unit.product.get_image_url }}" alt="">
                                                                </a>
                                                            </div>

                                                            <div class="wrapp_products_item_forms setting_box" data-mh="height-products">

                                                                <div class="form_products_col gradient">

                                                                    <ul class="setting_list">

                                                                        <li>
                                                                            <label>Наименование</label>

                                                                            <div class="wrapp_settings_select right_angle">
                                                                                <select data-placeholder="выбрать" disabled>
                                                                                    <option value="">{{ order_unit.product.name }}</option>
                                                                                </select>
                                                                            </div>

                                                                        </li>
                                                                    </ul>

                                                                </div>

                                                                <div class="form_products_col">

                                                                    <div class="form_products_settings">

                                                                        <div class="form_products_settings_col fix">

                                                                            <ul class="setting_list">

                                                                                <li>
                                                                                    <label>Количество</label>
                                                                                    <input type="number" class="setting_input number_type_clear" value="{{ order_unit.amount }}" disabled>
                                                                                </li>

                                                                                <li>
                                                                                    <label>Цена</label>
                                                                                    <input type="text" class="setting_input number_type_clear" value="{{ order_unit.price }}" disabled >
                                                                                </li>

                                                                                <li>
                                                                                    <label>Сумма</label>
                                                                                    <input type="text" class="setting_input number_type_clear" value="{{ order_unit.calculate_sum }}" disabled >
                                                                                </li>

                                                                            </ul>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- product 2 -->
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <a href="/categories" class="btn small light_orange f_right">Добавить заказ</a>
        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->


        {% comment %}
        <ul class="pagination">

            <!-- angle -->
            <li>
                <a href="javascript:;">«</a>
            </li>
            <!-- angle -->

            <li>
                <a href="javascript:;" class="current">1</a>
            </li>

            <li>
                <a href="javascript:;">2</a>
            </li>

            <li>
                <a href="javascript:;">3</a>
            </li>

            <li>
                <a href="javascript:;">4</a>
            </li>

            <li>
                <a href="javascript:;">5</a>
            </li>

            <!-- angle -->
            <li>
                <a href="javascript:;">»</a>
            </li>
            <!-- angle -->

        </ul>
        {% endcomment %}
    </div>

{% endblock %}