.setting_input:not(:readonly):not([type="checkbox"]):not([type="radio"]){
    color: #ff6900;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #efefef;
    height: 20px;
    font-size: 14px;
    line-height: 1.3;
  }

.setting_input:readonly:not([type="checkbox"]):not([type="radio"]){
    color: #4f4f4e;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border: none;
    font-size: 14px;
    line-height: 1.3;
    height: 20px;
}

.basket_count {
    cursor: pointer;
}

.adjusted_form {
    width: -webkit-fill-available;
}

.clickable_order {
    cursor: pointer;
}

ul.ui-autocomplete {
 background-attachment: scroll ;
 background-clip: border-box ;
 background-color: rgb(255, 255, 255) ;
 background-image: url(http://code.jquery.com/ui/1.9.1/themes/smoothness/images/ui-bg_flat_75_ffffff_40x100.png) ;
 background-origin: padding-box ;
 background-position-x: 50% ;
 background-position-y: 50% ;
 background-repeat-x: ;
 background-repeat-y: ;
 background-size: auto ;
 border-bottom-color: rgb(170, 170, 170) ;
 border-bottom-left-radius: 4px ;
 border-bottom-right-radius: 4px ;
 border-bottom-style: solid ;
 border-bottom-width: 1px ;
 border-image-outset: 0px ;
 border-image-repeat: stretch ;
 border-image-slice: 100% ;
 border-image-source: none ;
 border-image-width: 1 ;
 border-left-color: rgb(170, 170, 170) ;
 border-left-style: solid ;
 border-left-width: 1px ;
 border-right-color: rgb(170, 170, 170) ;
 border-right-style: solid ;
 border-right-width: 1px ;
 border-top-color: rgb(170, 170, 170) ;
 border-top-left-radius: 4px ;
 border-top-right-radius: 4px ;
 border-top-style: solid ;
 border-top-width: 1px ;
 color: rgb(34, 34, 34) ;
 cursor: default ;
 display: none ;
 font-family: Verdana, Arial, sans-serif ;
 font-size: 17.6px ;
 height: auto ;
 left: 51.3437px ;
 list-style-image: none ;
 list-style-position: outside ;
 list-style-type: none ;
 margin-bottom: 0px ;
 margin-left: 0px ;
 margin-right: 0px ;
 margin-top: 0px ;
 outline-color: rgb(34, 34, 34) ;
 outline-style: none ;
 outline-width: 0px ;
 padding-bottom: 2px ;
 padding-left: 2px ;
 padding-right: 2px ;
 padding-top: 2px ;
 position: absolute ;
 top: 329px ;
 width: 845px ;
 z-index: 1 ;
 -webkit-margin-after: 0px ;
 -webkit-margin-before: 0px ;
 -webkit-margin-end: 0px ;
 -webkit-margin-start: 0px ;
 -webkit-padding-start: 2px ;
}

li.ui-menu-item {
 color: rgb(34, 34, 34) ;
 cursor: default ;
 display: list-item ;
 font-family: Verdana, Arial, sans-serif ;
 font-size: 17.6px ;
 height: auto ;
 list-style-image: none ;
 list-style-position: outside ;
 list-style-type: none ;
 margin-bottom: 0px ;
 margin-left: 0px ;
 margin-right: 0px ;
 margin-top: 0px ;
 padding-bottom: 0px ;
 padding-left: 0px ;
 padding-right: 0px ;
 padding-top: 0px ;
 text-align: left ;
 width: 100% ;
 zoom: 1 ;
}

li.ui-menu-item a {
 border-bottom-left-radius: 4px ;
 border-bottom-right-radius: 4px ;
 border-top-left-radius: 4px ;
 border-top-right-radius: 4px ;
 color: rgb(34, 34, 34) ;
 cursor: default ;
 display: block ;
 font-family: Verdana, Arial, sans-serif ;
 font-size: 17.6px ;
 font-weight: 400 ;
 height: auto ;
 line-height: 26.4px ;
 list-style-image: none ;
 list-style-position: outside ;
 list-style-type: none ;
 padding-bottom: 2px ;
 padding-left: 7.04px ;
 padding-right: 7.04px ;
 padding-top: 2px ;
 text-align: left ;
 text-decoration-color: rgb(34, 34, 34) ;
 text-decoration-line: none ;
 text-decoration-style: solid ;
 width: auto ;
 zoom: 1 ;

}