<!DOCTYPE html>
<html lang="ru">

    <head>

        <!-- Basic page needs
        ============================================ -->
        <title>{% block title %}The склад{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <!-- Mobile specific metas
        ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


        <!-- Libs CSS
        ============================================ -->
        <link rel="stylesheet" href="/static/plugins/fileinput/fileinput.min.css">

        <!-- formstyler -->
        <link rel="stylesheet" href="/static/plugins/jQueryFormStyler-master/jquery.formstyler.css">

        <!-- datepicker -->
        <link rel="stylesheet" href="/static/plugins/air-datepicker-master/css/datepicker.min.css">


        <!-- Favicon
        ============================================ -->

        <!-- "Old-browser ICO"
        <link rel="shortcut icon" type="images/x-icon" href="favicon.ico">
        -->
        <!-- "For All Browser PNG"
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        -->


        <!-- "Apple-touch-icon PNG"

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        -->


        <!-- Theme CSS
        ============================================ -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/additional.css">

        <!-- Media Queries CSS
        ============================================ -->
        <link rel="stylesheet" href="/static/css/responsive.css">


        <!-- Include Libs & Plugins
        ============================================ -->
        <script src="/static/js/modernizr-custom.js"></script>

        <!-- Old IE
        ============================================ -->

        <!--[if lt IE 8]>
            <div style=' clear: both; text-align:center; position: relative;'>
              <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
                <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
              </a>
            </div>
            <![endif]-->
            <!--[if lt IE 9]>
            <script type="text/javascript" src="js/html5.js"></script>
            <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
        <![endif]-->
</head>

<body>
    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->
    <header id="header" class="header_wrapp">
        <div class="header_inner claerfix">
            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
            <div class="logo">
                <a href="/">
                    <img src="/static/images/small-logo.png" alt="">
                </a>
            </div>

            <!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - ? - - - - - - - - - - - - - - - - -->

            {% if user.is_authenticated %}
                <div class="header_right_box">
                    {% if user.profile %}
                        {% if user.profile.role == 'customer' %}
                            <div class="basket_wrapp">
                                <a href="javascript:;" class="basket_box">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    <span class="basket_item">0</span>
                                </a>

                                <div class="basket_box_count">
                                    <span class="basket_count">0,00</span> руб
                                </div>

                            </div> <!-- basket_wrapp -->
                        {% endif %}
                    {% endif %}

                    {% if user.profile.role == 'producer' %}
                        <a href="/my_products/" class="wrapp_company_logo clearfix">
                    {% else %}
                        <a href="javascript:;" class="wrapp_company_logo clearfix">
                    {% endif %}
                        <span class="company_logo">
                            <img src="/static/images/icons/user-icon.png" alt="">
                        </span>

                        <span class="company_name">
                            {{ user.profile.company_name }}
                            {% comment %}ООО «СафКомГрупп»{% endcomment %}
                        </span>

                    </a>

                    <a href="/logout" class="out_btn">
                        Выйти
                        {% comment %}<i class="fa fa-angle-down" aria-hidden="true"></i>{% endcomment %}
                    </a>

                </div>
            {% else %}
                <div>
                    {% comment %}
                    <ul class="header_enter">

                        <li class="current">
                            <a href="/signin">Войти</a>
                        </li>

                        <li>
                            <a href="/pick_role">Зарегистрироваться</a>
                        </li>

                    </ul>
                    {% endcomment %}

                </div>
            {% endif %}
            <!-- - - - - - - - - - - - - - End of ? - - - - - - - - - - - - - - - - -->
        </div>
    </header>

    {% block navigation %}
        <button class="navigation_btn">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <nav id="nav" class="navigation">

            <ul class="navigation_menu">

                <li>
                    <a href="/categories/">Каталог товаров</a>
                </li>

                <li>
                    <a href="javascript:;">Мои заказы</a>
                </li>

                <li>
                    <a href="javascript:;">Договоры</a>
                </li>

                <li>
                    <a href="javascript:;">Отчеты</a>
                </li>

                <li {% comment %}class="current"{% endcomment %}>
                    <a href="/profile/">Настройки</a>
                </li>

            </ul>

        </nav>
        <!-- - - - - - - - - - - - - - End of Navigation - - - - - - - - - - - - - - - - -->
    {% endblock %}

    {% block content %}

    {% endblock %}

    <!-- Include Libs & Plugins
    ============================================ -->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- matchHeight -->
    <script type="text/javascript" src="/static/plugins/jquery.matchHeight-min.js"></script>

    <!-- formstyler -->
    <script type="text/javascript" src="/static/plugins/jQueryFormStyler-master/jquery.formstyler.min.js"></script>

    <!-- datepicker -->
    <script type="text/javascript" src="/static/plugins/air-datepicker-master/js/datepicker.min.js"></script>

    <!-- mask -->
    <script type="text/javascript" src="/static/plugins/jQuery-Mask-Plugin-master/jquery.mask.min.js"></script>

    <!-- validate -->
    <script type="text/javascript" src="/static/plugins/jquery-validation-1.17.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/js/validateForm.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="/static/js/script.core.js"></script>
    <script src="/static/js/script.plugins.js"></script>

    {% block js_css %}

    {% endblock %}
</body>
</html>