{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/basket.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->

        <div class="wrapp_products  wrapp_count_products">
            {% for order_unit in order_units %}
                <div class="box_form_products_item block_closest clearfix">
                    <form action="/order_unit/edit/{{ order_unit.id }}/" method="POST" class="adjusted_form">
                        {% csrf_token %}
                        <!--div class="box_form_products_item_img count_products" data-mh="height-products">
                            <a href="#form_product1" class="btn_popup">
                                <img src="{{ order_unit.product.get_image_url }}">
                            </a>
                        </div-->

                        <div class="wrapp_products_item_forms setting_box" data-mh="height-products">
                            <span class="js_edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>

                            <a href="/order_unit/del/{{ order_unit.id }}/" class="closest_btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>


                            <div class="form_products_col gradient">
                                {% comment %}
                                Эти вещи менять уже в корзине, учитывая архитектуру БД и здравый смысл не стоило бы
                                Поэтому даже не передаём эти параметры на бэк, чтобы не случилось чего
                                {% endcomment %}
                                <ul class="setting_list">
                                    <li>
                                        <label>Наименование</label>
                                        <div class="wrapp_settings_select right_angle">
                                            <select data-placeholder="выбрать" disabled readonly>
                                                <option value="{{ order_unit.id }}">{{ order_unit.product.name }}</option>
                                            </select>
                                        </div>
                                    </li>

                                    <li>
                                        <label>Производитель</label>

                                        <div class="wrapp_settings_select right_angle">
                                            <select data-placeholder="выбрать" disabled readonly>
                                                <option value="1">{{ order_unit.product.product_depot.producer.profile.company_name }}</option>
                                            </select>
                                        </div>

                                    </li>

                                </ul>

                            </div>

                            <div class="form_products_col">
                                <div class="form_products_settings">
                                    <div class="form_products_settings_col fix">
                                        <ul class="setting_list">
                                            <li>
                                                <label>Количество</label>
                                                <input type="number" min="{{ order_unit.product.minimum_amount }}" step="{{ order_unit.product.minimum_amount }}" name="amount" class="setting_input" value="{{ order_unit.amount }}" disabled required data-mask="99999">
                                            </li>

                                            <li>
                                                <label>Цена</label>
                                                <input type="text" class="setting_input" value="{{ order_unit.price }}" disabled>
                                            </li>

                                            <li>
                                                <label>Сумма</label>
                                                <input type="text" class="setting_input" value="{{ order_unit.calculate_sum }}" disabled>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="form_products_settings_col">
                                        <ul class="setting_list">
                                            {% comment %}
                                            <li>
                                                <label>Доставить до:</label>
                                                <input type="text" class="setting_input" value="{{ order_unit.trade_point.address.full_address }}" disabled>
                                            </li>
                                            {% endcomment %}

                                            <li>
                                                <label>Примечание:</label>
                                                <input type="text" name="remark" class="setting_input" value="{% if order_unit.remark %}{{ order_unit.remark }}{% endif %}" disabled>
                                            </li>

                                            <li>
                                                <div class="ok_box">
                                                    <button class="ok_btn">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>

        <div class="wrapp_btn right">
            <a href="/categories" class="btn hight_grey icon_left middle_width">
                <i class="fa fa-plus" aria-hidden="true"></i>Добавить товар
           </a>

            {% if basket_items > 0 %}
                <a href="#delivery_popup" class="btn hight_orange btn_popup" id="perform_order">Заказать</a>
            {% endif %}
        </div>

                <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

            </div>

            <!-- - - - - - - - - - - - - - End of Content - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Modal Popup - - - - - - - - - - - - - - - - -->

    <div style="display: none;">

    <!-- popup 2 -->
        <div class="box-modal payment_popup" id="payment_popup">
            <div class="modal_container3">

                <form action="/perform_order" method="POST" id="perform_order_form">
                    {% csrf_token %}

                    <input type="hidden" id="proxy_tradepoint" name="trade_point" value="{{ trade_points.0.id }}">

                    <div class="wrapp_attention_txt center">
                        <p class="attention_txt left big">
                            <i class="fa fa-exclamation" aria-hidden="true"></i>
                            К оплате {{ basket_price }} руб
                        </p>
                    </div>

                    <p class="label1 big">Укажите способ оплаты:</p>

                    <label for="radio_item1" class="radio_box_rectangel">
                        <input type="radio" id="radio_item1" name="payment_type" value="1">
                        <span class="radio-custom"></span>
                        <span>Оплата банковской картой (VISA, MasterCard, Мир и др.)</span>
                    </label>

                    <label for="radio_item2" class="radio_box_rectangel">
                        <input type="radio" id="radio_item2" name="payment_type" checked value="0">
                        <span class="radio-custom"></span>

                        <span>Оплата с расчетного счета</span>

                    </label>

                    {% comment %}
                    <div class="wrapp_privacy_policy">
                        <input type="checkbox" id="privacy_policy">

                        <label for="privacy_policy">
                        </label>

                        <label for="privacy_policy" class="privacy_policy_txt">
                            Требуются
                            <a href="javascript:;" class="hight_orange">документы по НДС от поставщика</a>
                        </label>
                    </div>
                    {% endcomment %}

                   <div class="wrapp_btn center">
                        <button class="btn hight_orange">Оплатить</button>
                   </div>
                </form>

            </div>

        </div>
    <!-- popup 2 -->


    <!-- remove product -->
        <div class="box-modal modal_popup_product" id="remove_product">

            <div class="modal_container4">

                <div class="wrapp_attention_txt attention_offset1 center">
                    <p class="attention_txt left big">
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                        Вы подтверждаете удаление товара?
                    </p>
                </div>


                <div class="wrapp_btn between">

                    <a href="javascript:;" class="btn hight_grey removeProduct_l">
                       Подтвердить
                    </a>

                    <a href="javascript:;" class="btn hight_orange arcticmodal-close">
                        Отменить
                    </a>

                </div>

            </div>

        </div>
    <!-- remove product -->

    <!-- delivery popup -->
        <div class="box-modal modal_popup_delivery" id="delivery_popup">
            <div class="modal_container3">
                <h3 class="align_center">Выберите адрес доставки:</h3>

                <div class="wrapp_filter">

                    <div class="wrapp_castom_select sorting full_width">

                        <select data-placeholder="Выберите" name="trade_point" required id="popup_tradepoint">
                            {% for trade_point in trade_points %}
                                <option value="{{ trade_point.id }}" {% if forloop.first %}selected{% endif %}>{{ trade_point.address.castrate_nicely }}</option>
                            {% endfor %}
                        </select>

                    </div>

                </div>

                <div class="wrapp_btn between">

                    <a href="javascript:;" class="btn hight_orange" id="tradepoint_pick">
                        Заказать
                    </a>

                    <a href="javascript:;" class="btn hight_grey close_popup">
                       Отменить
                    </a>

                </div>

            </div>

        </div>
    <!-- delivery popup -->
    </div>
{% endblock %}