{% extends 'base.html' %}


{% block content %}
        <div id="content" class="wrapp_content">

        <div class="box_title_button">

            <h3 class="title_line"><span>Категория товара</span></h3>

            <!-- <a href="javascript:;" class="btn light_orange icon_right large_width">
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Назад к категориям
            </a> -->

        </div>

        {% comment %}
        <p class="attention_txt left">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Выберите категорию товара
        </p>
        {% endcomment %}
        <!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->
        <form action="/products/search/" method="get" class="wrapp_filter">
            <div class="wrapp_search">
                <input type="text" name="search_string">
                <button class="search_btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>

        <!-- - - - - - - - - - - - - - End of Form - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->

        <div class="wrapp_products">

            <div class="row_products clearfix">
                {% for category in categories %}
                    <figure class="col_products category_products" data-mh="col-products">
                        <div class="products_img" data-mh="products-img">
                            <a href="/category/{{ category.id }}/">
                                <img src="{{ category.get_image_url }}" alt="{{ category.name }}">
                            </a>

                            {% if user.profile.role == 'customer' %}
                                <div class="products_count">
                                    {{ category.unseen }}
                                </div>
                            {% endif %}
                        </div>

                        <figcaption>
                            <h3 class="light_grey products_title">{{ category.name }}</h3>
                        </figcaption>
                    </figure>
                {% endfor %}

                <!-- products list -->
                <div class="wrapp_products_list">
                    <ul class="products_list">
                        {% for category in categories %}
                            <li>
                                <a href="/category/{{ category.id }}/">
                                    <span><img src="{{ category.get_image_url }}"></span>
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- products list -->
            </div> <!-- row_products -->

            {% comment %}
             <div class="wrapp_btn right">
                 <a href="javascript:;" class="btn hight_orange icon_right middle_width" id="pick_category">
                   <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                   Далее к выбору товаров
                </a>
            </div>
            {% endcomment %}
        </div>

        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

    </div>

    <!-- - - - - - - - - - - - - - End of Content - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Modal Popup - - - - - - - - - - - - - - - - -->

    <div style="display: none;" class="custom_alert">

    </div>

    <!-- - - - - - - - - - - - - - End of Modal Popup - - - - - - - - - - - - - - - - -->


{% endblock %}