{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/orders_grid.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

    <!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->

    <div class="wrapp_tabs">

            <ul class="tabs_list blue">

                <li class="tabs_item active">
                    Мои заказы
                </li>

                <li class="tabs_item">
                    Карта
                </li>

            </ul> <!-- tabs_list -->

        <div class="wrapp_tabs_content">

            <div class="tabs_content">

                <form action="" class="wrapp_filter">
                    <label class="label1 big">Сортировка:</label>

                    <div class="wrapp_castom_select sorting">
                        <select data-placeholder="По умолчанию" name="sorting">
                            <option value=""></option>
                            <option value="1">По умолчанию</option>
                            <option value="2">Подтвержденные</option>
                            <option value="3">Завершенные</option>
                        </select>
                    </div>
                </form>

                <!-- - - - - - - - - - - - - - End of Form - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->

                <div class="wrapp_btn right">
                    {% if user.profile.role == 'producer' %}
                        <a href="{{ link_to_excel }}" class="btn icon_left line_grey" download>
                            <i class="fa fa-paperclip"></i>
                            выгрузка в excel
                        </a>
                    {% endif %}
                </div>

                <table class="table_order">

                    <thead>

                        <tr>
                            <th class="table_col1">
                                №
                            </th>

                            <th>
                                Дата
                                <a href="javascript:;" class="sort_btn"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                            </th>

                            <th>
                                Контрагент
                                <a href="javascript:;" class="sort_btn"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                            </th>

                            <th class="table_col4">
                                Сумма/руб
                                <a href="javascript:;" class="sort_btn"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                            </th>

                            <th class="table_col4">
                                Статус
                                <a href="javascript:;" class="sort_btn"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a>
                            </th>

                        </tr>

                    </thead>

                    <tbody>
                        {% for order in current_orders %}
                            <tr class="clickable_order">
                                <td data-title="№">{{ order.id }}</td>
                                <td data-title="Дата">{{ order.created|date:'d.m.Y' }}</td>
                                <td data-title="Контрагент">
                                    {% if user.profile.role == 'customer' %}
                                        {{ order.producer.profile.company_name }}
                                    {% else %}
                                        {{ order.customer.profile.company_name }}
                                    {% endif %}
                                </td>
                                <td data-title="Сумма/руб">{{ order.calculate_sum }}</td>
                                <td class="blue" data-title="Статус">{{ order.get_order_status_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->
                {% comment %}
                <ul class="pagination">

                    <!-- angle -->
                    <li>
                        <a href="javascript:;">«</a>
                    </li>
                    <!-- angle -->

                    <li>
                        <a href="javascript:;" class="current">1</a>
                    </li>

                    <li>
                        <a href="javascript:;">2</a>
                    </li>

                    <li>
                        <a href="javascript:;">3</a>
                    </li>

                    <li>
                        <a href="javascript:;">4</a>
                    </li>

                    <li>
                        <a href="javascript:;">5</a>
                    </li>

                    <!-- angle -->
                    <li>
                        <a href="javascript:;">»</a>
                    </li>
                    <!-- angle -->
                </ul>
                {% endcomment %}

            </div> <!-- tabs_content -->

            <div class="tabs_content">

                <div class="gmap"></div>

            </div> <!-- tabs_content -->

        </div> <!-- wrapp_tabs_content -->

    </div> <!-- wrapp_tabs -->

</div>

{% endblock %}