{% extends 'base.html' %}
{% load l10n %}

{% block js_css %}
    <script src="/static/js/my_products.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

        <!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->

        <form action="" class="wrapp_filter">
            <label class="label1 big">Сортировка:</label>

            <div class="wrapp_castom_select sorting">
                <select data-placeholder="По умолчанию">
                    <option value="1">По умолчанию</option>
                    <option value="2">По категории</option>
                    <option value="3">По подкатегории</option>
                </select>
            </div>

            <!-- <div class="wrapp_search">
                <input type="text">
                <button class="search_btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div> -->
        </form>

    <!-- - - - - - - - - - - - - - End of Form - - - - - - - - - - - - - - - - -->


    <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->

        <div class="wrapp_products wrapp_count_products">
            {% for product in products %}
                <div class="box_form_products_item block_closest clearfix">
                    <form action="/my_products/edit/{{ product.id }}/" method="POST" enctype="multipart/form-data" class="adjusted_form">
                        {% csrf_token %}
                        <div class="box_form_products_item_img count_products hide" data-mh="height-products">
                            <a href="javascript:;">
                                <img src="{{ product.get_image_url }}" alt="">
                            </a>
                        </div>

                        <div class="wrapp_products_item_forms setting_box" data-mh="height-products">

                            <span class="js_edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>

                            <a href="/my_products/del/{{ product.id }}/" class="closest_btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>

                            <div class="form_products_col gradient">

                                <ul class="setting_list">

                                    <li>
                                        <label for="">Категория</label>
                                        <div class="wrapp_settings_select right_angle">
                                            <select data-placeholder="выбрать" disabled class="category_parent">
                                                {% for category in categories %}
                                                    <option value="{{ category.id }}" {% if category.id == product.parent_category.id %}selected{% endif %}>{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </li>

                                    <li>
                                        <label for="">Подкатегория</label>

                                        <div class="wrapp_settings_select right_angle">
                                            <select data-placeholder="выбрать" disabled class="category_child" name="category" required>
                                                {% for subcat in product.related_subcategories %}
                                                    <option value="{{ subcat.id }}" {% if subcat.id == product.category.id %}selected{% endif %}>{{ subcat.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </li>

                                    <li>
                                        <label for="">Наименование</label>
                                        <input class="setting_input" name="name" value="{{ product.name }}" disabled required>
                                    </li>

                                    <li>
                                        <label for="">Срок годности</label>
                                        <input class="setting_input expiration_date" name="expiration_date" value="{{ product.expiration_date }}" disabled required>

                                        <div class="wrapp_settings_select right_angle">
                                            <select name="expiration_type" data-placeholder="Тип срока годности" disabled required class="expiration_type">
                                            {% for expiration_value in expiration_values %}
                                                <option value="{{ expiration_value.id }}" {% if product.expiration_type.id == expiration_value.id %}selected{% endif %}>{{ expiration_value.name }}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="form_products_col">
                                <div class="form_products_settings">
                                    <div class="form_products_settings_col fix">
                                        <ul class="setting_list">
                                            <li>
                                                <label for="">Минимальное количество</label>
                                                <input class="setting_input" name="minimum_amount" value="{{ product.minimum_amount }}" disabled required>
                                            </li>

                                            {% localize off %}
                                                <li>
                                                    <label for="">Вес</label>
                                                    <input class="setting_input" name="weight" value="{{ product.weight }}" disabled required data-mask="9999.999">
                                                </li>

                                                <li>
                                                    <label for="">Цена</label>
                                                    <input class="setting_input" name="producer_price" value="{{ product.producer_price }}" disabled required data-mask="99999999.99">
                                                </li>
                                            {% endlocalize %}

                                            <li>
                                                <label for="">Изменить изображение</label>
                                                <div class="select_file" style="width: 100%">
                                                    <input type="file" name="product_pic" value="Выберите файл" class="setting_input" disabled>
                                                    <span class="file_notselected">Выберите файл</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form_products_settings">
                                        <ul class="setting_list">
                                            <li>
                                                <label for="">Длина:</label>
                                                <input class="setting_input" name="length" value="{{ product.length }}" disabled required>
                                            </li>

                                            <li>
                                                <label for="">Ширина:</label>
                                                <input class="setting_input" name="width" value="{{ product.width }}" disabled required>
                                            </li>

                                            <li>
                                                <label for="">Высота:</label>
                                                <input class="setting_input" name="height" value="{{ product.height }}" disabled required>
                                            </li>

                                            <div class="wrapp_settings_select right_angle">
                                                <select data-placeholder="Выбрать склад" required name="product_depot" disabled required>
                                                    <option value=""></option>
                                                    {% for depot in depots %}
                                                        <option value="{{ depot.id }}" {% if depot.id == product.product_depot.id %}selected{% endif %}>{{ depot.address.full_address }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form_products_settings_col">
                                    <ul class="setting_list">
                                        <li>
                                            <label for="">Описание:</label>
                                            <textarea name="description" class="setting_textarea" disabled>{{ product.description }}</textarea>
                                        </li>

                                        <li>
                                            <div class="ok_box">
                                                <button class="ok_btn">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}

            <div class="wrapp_btn_add_plus">
               <a href="/my_products/add/" class="btn_add_plus">
                   Добавить еще продукт
               </a>
           </div>
            <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->
    </div>


{% endblock %}

{% block popup_content %}
    <!-- - - - - - - - - - - - - - Modal Popup - - - - - - - - - - - - - - - - -->

    <div style="display: none;">

    <!-- remove product -->
        <div class="box-modal modal_popup_product" id="remove_product">

            <div class="modal_container4">

                <div class="wrapp_attention_txt attention_offset1 center">
                    <p class="attention_txt left big">
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                        Вы подтверждаете удаление товара?
                    </p>
                </div>


                <div class="wrapp_btn between">

                    <a href="javascript:;" class="btn hight_grey removeProduct_l">
                       Подтвердить
                    </a>

                    <a href="javascript:;" class="btn hight_orange arcticmodal-close">
                        Отменить
                    </a>

                </div>

            </div>

        </div>
    <!-- remove product -->

    </div>
{% endblock %}