{% comment %}
        {% if request.user.is_authenticated %}
{% endcomment %}
{% if user.profile and user.profile.role != 'supervisor' %}
    <button class="navigation_btn">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <nav id="nav" class="navigation">
        {% if user.is_authenticated and user.profile %}
            <div class="user_navigation">
                {% if user.profile.role == 'customer' %}
                    <div class="basket_wrapp">
                        <a href="/basket" class="basket_box">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <span class="basket_item">{{ basket_items }}</span>
                        </a>

                        <div class="basket_box_count">
                            <span class="basket_count">{{ basket_price }}</span> руб
                        </div>

                    </div> <!-- basket_wrapp -->
                {% endif %}

                {% if user.profile.role == 'manager' %}
                    <div class="basket_wrapp">
                        <a href="/basket" class="basket_box">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <span class="basket_item">{{ basket_items }}</span>
                        </a>

                        <div class="basket_box_count">
                            <span class="basket_count">{{ basket_price }}</span> руб
                        </div>

                    </div> <!-- basket_wrapp -->
                {% endif %}

                <a href="/logout" class="out_btn">
                    Выйти
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

            </div>
        {% endif %}

        <ul class="navigation_menu">
            <li>
                {% if user.profile.role == 'customer' or user.profile.role == 'manager' %}
                    <a href="/categories">Каталог товаров</a>
                {% endif %}
                {% if user.profile.role == 'producer' %}
                    <a href="/my_products">Каталог товаров</a>
                {% endif %}
            </li>

            {% if user.profile.role == 'manager' %}
                <li><a href="/my_clients">Мои клиенты</a></li>
            {% else %}
                <li>
                    <a href="javascript:;">Мои заказы</a>

                    <ul class="sub_navigation_menu">
                        {% if user.profile.role == 'customer' %}
                        <li{% if request.path == '/basket' %} class="current"{% endif %}>
                            <a href="/basket">
                                <img src="/static/images/icons/basket-icon.png">
                                Корзина
                            </a>
                        </li>
                        {% endif %}

                        <li{% if request.path == '/current_orders' %} class="current"{% endif %}>
                            <a href="/current_orders">
                                <img src="/static/images/icons/box-icon.png">
                                Текущие заказы
                            </a>
                        </li>

                        <li{% if request.path == '/order_history' %} class="current"{% endif %}>
                            <a href="/order_history">
                                <img src="/static/images/icons/history-icon.png">
                                История
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% comment %}
            <li>
                <a href="javascript:;">Договоры</a>
            </li>

            <li>
                <a href="javascript:;">Отчеты</a>
            </li>
            {% endcomment %}

            <li {% if request.path == '/profile/' %}class="current"{% endif %}{% comment %}class="current"{% endcomment %}>
                <a href="/profile/">Профиль</a>
            </li>
        </ul>
    </nav>


    <!-- navigation_mobi -->
    <nav class="navigation_mobi">

        <ul class="navigation_mobi_menu">
            <li>
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Главное меню
                </a>
            </li>

            <li>
                {% if user.profile.role == 'customer' or user.profile.role == 'manager' %}
                    <a href="/categories"><i class="fa fa-list" aria-hidden="true"></i>Каталог</a>
                {% endif %}
                {% if user.profile.role == 'producer' %}
                    <a href="/my_products"><i class="fa fa-list" aria-hidden="true"></i>Каталог</a>
                {% endif %}
            </li>

            {% if user.profile.role == 'customer' or user.profile.role == 'producer' %}
            <li>
                <a href="/current_orders">
                    <i class="fa fa-sort" aria-hidden="true"></i>
                    Текущие заказы
                </a>
            </li>

            <li>
                <a href="/order_history">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    История заказов
                </a>
            </li>
            {% endif %}

            {% if user.profile.role == 'manager' %}
                <li>
                    <a href="/my_clients">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                        Мои клиенты
                    </a>
                </li>
                <li>
                    <a href="/my_income">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                        Мой оборот
                    </a>
                </li>
                <li>
                    <a href="/basket">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        Корзина
                    </a>
                </li>
            {% endif %}

            {% if user.profile.role == 'customer' %}
            <li>
                <a href="/basket">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    Корзина
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}