{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/products.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">
        <div class="box_title_button">

            <h3 class="title_line"><span>{{ category.name }}</span></h3>

            <a href="/category/{{ category.pid.id }}/" class="btn light_orange icon_right large_width">
               <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                Назад к подкатегориям
            </a>

        </div>
        {% comment %}
        <p class="attention_txt left">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Выберите категорию товара
        </p>
        {% endcomment %}

        <!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->

        <form action="" class="wrapp_filter">

            <label class="label1 big">Сортировка:</label>

            <div class="wrapp_castom_select sorting">

                <select data-placeholder="По умолчанию" id="product_sort">
                    <option value="1">По умолчанию</option>
                    <option value="2">По категории</option>
                    <option value="3">По подкатегории</option>
                </select>

            </div>

            <div class="wrapp_search">
                <input type="search">
                <button class="search_btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>

        </form>

        <!-- - - - - - - - - - - - - - End of Form - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->

        <div class="wrapp_products">

            <div class="row_products clearfix">

                {% for product in products %}
                    <figure class="col_products" data-mh="col-products">

                        <div class="products_img" data-mh="products-img">

                            <a href="javascript:;" data-popup="#product1">
                                <img src="{{ product.get_image_url }}" alt="">
                            </a>

                        </div>

                        <figcaption>

                            <h3 class="light_grey products_title">
                                {{ product.name }}
                                {% comment %}Йогурт Danone Активиа творожная{% endcomment %}
                                {% if product.weight %}<span class="products_subtitle">{{ product.weight }} кг</span>{% endif %}
                            </h3>

                            <div class="wrapp_btn center">
                                <span class="products_price">{{ product.customer_price }}р</span>
                                <a href="javascript:;" class="btn btn_basket light_orange">В корзину</a>
                            </div>

                        </figcaption>

                    </figure>
                {% endfor %}
            </div> <!-- row_products -->
        </div>

        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

    </div>

    <!-- - - - - - - - - - - - - - End of Content - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Modal Popup - - - - - - - - - - - - - - - - -->

    <div style="display: none;">

        <!-- popup 1 -->
            <div class="box-modal modal_popup_product big" id="product_popup">

                <div class="box-modal_close arcticmodal-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>

                <div class="modal_container2">

                    <form action="/order/add">

                        <h3 class="popup_title light_grey align_left" id="popup_product_name"></h3>

                        <div class="wrapp_product_preview">

                            <div class="product_preview_img">
                                <img id="popup_product_url" src="" alt="">
                            </div>

                            <div class="product_preview_desc">

                                <label class="label1 big">
                                    Наличие:
                                </label>

                                <p class="check_label">Есть в наличии</p>

                                <label class="label1 big">
                                    Минимальный заказ:
                                </label>

                                <span class="sublabel" id="popup_miminum_amount">от 100 шт</span>

                                <p class="popup_price"><span id="popup_price"49</span>р</p>

                                <label class="label1 big">
                                    Выберите количество:
                                    <span class="tooltip_desc" data-tooltip-txt="Минимальный заказ: от 100 шт" data-tooltip-pos="right">?</span>
                                </label>

                                <input type="number" value="100" min="100" max="9999" data-mask="9999">

                                <label class="label1 big">
                                    Выберите адрес доставки:
                                    <span class="tooltip_desc" data-tooltip-txt="Комментарий" data-tooltip-pos="right">?</span>
                                </label>

                                <div class="wrapp_castom_select bottom_dropdown">
                                    <select data-placeholder="Нажмите, чтобы выбрать">
                                        {% comment %}
                                        <option value=""></option>
                                        <option value="">адрес доставки 1</option>
                                        <option value="">адрес доставки 2</option>
                                        <option value="">адрес доставки 3</option>
                                        <option value="">адрес доставки 4</option>
                                        <option value="">адрес доставки 5</option>
                                        {% endcomment %}
                                    </select>
                                </div>

                                <button class="btn btn_basket light_orange" id="add_to_cart">В корзину</button>

                            </div>

                        </div>

                    </form>

                </div>

                <div class="modal_footer">

                    <p class="txt_type2">
                        <strong>«Активиа»</strong> - это серия пробиотических кисломолочных продуктов с бифидобактериями ActiRegularis®. Клинически доказано, что йогурты «Активиа» помогают уменьшить чувство дискомфорта в животе. Портфель «Активиа» также включает невероятно вкусные творожки и кефирные продукты. «Активиа» рекомендована Российской гастроэнтерологической ассоциацией (РГА) для ежедневного употребления.
                    </p>

                    <p class="txt_type2">
                        <strong>Продукты «Активиа»</strong> – это 20 лет исследовательской работы и колоссальный объем экспертных знаний. Клинические испытания подтверждают, что бифидобактерии ActiRegularis®, находящиеся в йогуртах и творожках Активиа, выживают при прохождении через желудочно-кишечный тракт человека и в больших количествах достигают микрофлоры кишечника.
                    </p>

                </div>

            </div>
        <!-- popup 1 -->

            </div>
{% endblock %}