{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/product_add.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

         <form class="wrapp_company_form validate" action="/my_products/import/" method="post" novalidate enctype="multipart/form-data">
            <div class="wrapp_attention_txt justify">

                <p class="attention_txt left">
                    {% comment %}
                    <i class="fa fa-exclamation" aria-hidden="true"></i>
                    Каталог продукции пуст. Пожалуйста заполните его вашими продуктами
                    {% endcomment %}
                </p>


                <div class="select_file big_grey preload_popup">

                    <input id="file" type="file" value="Выберите файл" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />

                    <span class="file_notselected">Загрузить все товары из файла</span>

                </div>
            </div>
         </form>
        <!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->

        <form action="/my_products/add/" class="wrapp_company_form validate" id="add_product_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="wrapp_form_box clearfix">

                <div class="box_form_row clearfix">

                    <!-- col 6 -->
                    <div class="box_form_half">

                        <div class="form_box_offset">

                            <div class="wrapp_castom_select error_form_container">
                                <select data-placeholder="Выберите категорию" required name="parent_category" id="category_box">
                                    <option value=""></option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                        <div class="form_box_offset">

                            <div class="wrapp_castom_select error_form_container">
                                <select data-placeholder="Выберите подкатегорию" required name="subcategory" id="subcategory_box">
                                    <option value=""></option>
                                </select>
                            </div>

                        </div>

                        <div class="form_box_offset">

                            <div class="error_form_container">
                                <input name="name" placeholder="Наименование" required>
                            </div>

                        </div>


                        <div class="form_box_offset">
                            <div class="form_row clearfix">
                                <div class="form_col half error_form_container">
                                    <input name="expiration_date" id="expiration_value" type="text" placeholder="Срок годности" maxlength="20" disabled data-mask="00000">
                                </div>

                                <div class="form_col half">

                                    <div class="wrapp_castom_select error_form_container">
                                        <select name="expiration_type" data-placeholder="Тип срока годности" required id="expiration_type">
                                            {% for expiration_value in expiration_values %}
                                                <option value="{{ expiration_value.id }}" {% if forloop.first %}selected{% endif %}>{{ expiration_value.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form_box_offset">
                            <div class="form_row clearfix">

                                <div class="form_col half error_form_container">
                                    <input name="barcode" type="text" placeholder="Штрих код" maxlength="20" required>
                                </div>

                            </div>
                        </div>

                        <div class="form_box_offset">

                            <div class="select_file">

                                <input type="file" value="Выберите файл" name="product_pic">

                                <span class="file_notselected">Добавить фото</span>

                            </div>

                        </div>
                    </div>
                    <!-- col 6 -->

                    <!-- col 6 -->
                    <div class="box_form_half">

                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col half">

                                    <div class="wrapp_label_right">

                                        <div class="box_input error_form_container">
                                            <input name="pack_amount" placeholder="Количество в упаковке" data-mask="00000000" required>
                                        </div>

                                        <label class="label_right">
                                            шт
                                        </label>

                                    </div>

                                </div>

                                <div class="form_col half">

                                    <div class="wrapp_label_right">

                                        <div class="box_input error_form_container">
                                            <input name="weight" placeholder="Вес" data-mask="9999.999" required>
                                        </div>

                                        <label class="label_right">
                                            кг
                                        </label>

                                    </div>

                                </div>

                            </div>

                        </div>


                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col half">

                                    <div class="wrapp_label_right">

                                        <div class="box_input error_form_container">
                                            <input type="text" placeholder="Длина" name="length" data-mask="00000000" required>
                                        </div>

                                        <label class="label_right">
                                            см
                                        </label>

                                    </div>

                                </div>

                                <div class="form_col half">

                                    <div class="wrapp_label_right">

                                        <div class="box_input error_form_container">
                                            <input type="text" placeholder="Ширина" name="width" data-mask="0000000000" required>
                                        </div>

                                        <label class="label_right">
                                            см
                                        </label>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="form_box_offset">
                            <div class="form_row clearfix">
                                <div class="form_col half">
                                    <div class="wrapp_label_right">

                                        <div class="box_input error_form_container">
                                            <input type="text" placeholder="Высота" name="height" data-mask="00000000" required>
                                        </div>

                                        <label class="label_right">
                                            см
                                        </label>
                                    </div>
                                </div>

                                <div class="form_col half">
                                    <div class="wrapp_label_right">
                                        <div class="box_input error_form_container">
                                            <input name="minimum_amount" placeholder="Минимальный заказ" data-mask="0000000000" required>
                                        </div>

                                        <label class="label_right">шт</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form_box_offset">
                            <div class="form_row clearfix">
                                <div class="form_col half">
                                    <div class="wrapp_label_right">
                                        <div class="box_input error_form_container">
                                            <input name="producer_price" placeholder="Цена" required>
                                        </div>

                                        <label class="label_right">руб</label>
                                    </div>
                                </div>

                                <div class="form_col half">
                                    <div class="wrapp_castom_select error_form_container">
                                        <select data-placeholder="Выбрать склад" required name="product_depot">
                                            <option value=""></option>
                                            {% for depot in depots %}
                                                <option value="{{ depot.id }}">{{ depot.address.full_address }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form_box_offset">
                            <div class="wrapp_textarea">
                                <textarea placeholder="Описание" class="textarea_item big" name="description"></textarea>
                                <div class="box_count_textarea">
                                    Не более
                                    <span class="count_textarea">600</span>
                                    знаков
                                </div>
                            </div>
                        </div>
                    </div>
               </div> <!-- box_form_row -->

               <div class="align_right">
                   <button class="btn hight_orange" type="submit">Добавить</button>
               </div>

            </div> <!-- wrapp_form -->

        </form>

        <!-- - - - - - - - - - - - - - End of Form - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

    </div>

    <!-- - - - - - - - - - - - - - Popup - - - - - - - - - - - - - - - - -->

    <div style="display: none;">

        <!-- preloadfile -->
        <div class="box-modal preloder_modal" id="preloadfile">

            <div class="wrapp_preloder">
                <img src="/static/images/Spinner.svg" alt="">
            </div>

            <h4 class="light_black clear_offset">Загружается...</h4>

        </div>
        <!-- preloadfile -->

        <!-- countPreloadfile -->
        <div class="box-modal" id="countPreloadfile">

            <div class="box-modal_close arcticmodal-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>

            <div class="modal_container5">

                <div class="wrapp_attention_txt center">

                    <p class="attention_txt left big">
                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                        Список обработан
                    </p>

                </div>

                <div class="wrapp_preloadfile_txt">
                    <div class="preloadfile_txt_item">Добавлено: <span class="preloadfile_qt add">10</span></div>
                    <div class="preloadfile_txt_item">Не добавлено: <span class="preloadfile_qt canceled">2</span></div>
                </div>

                <a href="/my_products/" class="btn light_orange icon_right large_width">
                   <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    Перейти в каталог продукции
                </a>

            </div>

        </div>
        <!-- countPreloadfile -->

    </div>

    <!-- - - - - - - - - - - - - - End of Popup - - - - - - - - - - - - - - - - -->


    <!-- - - - - - - - - - - - - - End of Content - - - - - - - - - - - - - - - - -->

{% endblock %}