{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/products.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">
        <div class="box_title_button">

            <h3 class="title_line"><span>{{ category.name }}</span></h3>

            <a href="/category/{{ category.pid.id }}/" class="btn light_orange icon_right large_width">
               <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                Назад к подкатегориям
            </a>

        </div>

        <!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->
        <form action="/products/search/" method="get" class="wrapp_filter">
            {% csrf_token %}
            <label class="label1 big">Сортировка:</label>

            <div class="wrapp_castom_select sorting">

                <select data-placeholder="По умолчанию" id="product_sort" name="sorting">
                    <option value="1">По умолчанию</option>
                    <option value="2">По категории</option>
                    <option value="3">По подкатегории</option>
                    <option value="4">По цене</option>
                </select>

            </div>

            <div class="wrapp_search">

                <input type="search" name="search_string">
                    <button class="search_btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
            </div>

        </form>
        <!-- - - - - - - - - - - - - - End of Form - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->

        <div class="wrapp_products">

            <div class="row_products clearfix">
                {% for product in products %}
                    <figure class="col_products" data-mh="col-products">
                        <div style="display: none" class="product_minimum_amount">{{ product.minimum_amount }}</div>
                        <div style="display: none" class="product_id">{{ product.id }}</div>
                        <div style="display: none" class="product_description">{{ product.description }}</div>
                        <div class="products_img" data-mh="products-img">
                            <a href="javascript:;" data-popup="#product1" class="modal_desc_product">
                                <img class="img_url" src="{{ product.get_image_url }}" alt="{{ product.name }}">
                            </a>
                        </div>

                        <figcaption>
                            <h3 class="light_grey products_title">
                                <span class="product_name">{{ product.name }}</span>
                                {% comment %}Йогурт Danone Активиа творожная{% endcomment %}
                                {% if product.weight %}<span class="products_subtitle">{{ product.weight }} кг</span>{% endif %}
                            </h3>

                            <div class="wrapp_btn center">
                                <span class="products_price">{{ product.producer_price }}р</span>
                                <a href="javascript:;" class="btn btn_basket light_orange add_to_cart">В корзину</a>
                            </div>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div> <!-- row_products -->
        </div>

        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

    </div>

    <!-- - - - - - - - - - - - - - End of Content - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Modal Popup - - - - - - - - - - - - - - - - -->

    <div style="display: none;">

        <!-- popup 1 -->
        <div class="box-modal modal_popup_product big" id="product_popup">
            {% comment %}
            <div class="box-modal_close arcticmodal-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            {% endcomment %}
            <div class="modal_container2">

                <form action="/order_unit/add/" method="POST">
                    {% csrf_token %}
                    <input name="product" id="popup_product_id" type="hidden" value="">
                    <h3 class="popup_title light_grey align_left" id="popup_product_name"></h3>

                    <div class="wrapp_product_preview">

                        <div class="product_preview_img">
                            <img id="popup_product_url" src="" alt="">
                        </div>

                        <div class="product_preview_desc">

                            <label class="label1 big">
                                Наличие:
                            </label>

                            <p class="check_label">Есть в наличии</p>


                            <label class="label1 big">
                                Минимальный заказ:
                            </label>

                            <span class="sublabel" id="popup_minimum_amount">от 100 шт</span>

                            <p class="popup_price"><span id="popup_price">49</span></p>

                            <label class="label1 big">
                                Выберите количество:
                                <span id="popup_tooltip_desc" class="tooltip_desc" data-tooltip-txt="Минимальный заказ: от 100 шт" data-tooltip-pos="right">?</span>
                            </label>

                            <input id="amount" name="amount" type="number" required value="100" min="100" step="100" data-mask="99999" class="number_type_btn">
                            <div class="clearfix"></div>
                            {% comment %}
                            <label class="label1 big">
                                Выберите адрес доставки:
                                <span class="tooltip_desc" data-tooltip-txt="Комментарий" data-tooltip-pos="right">?</span>
                            </label>

                            <div class="wrapp_castom_select bottom_dropdown">
                                <select data-placeholder="Нажмите, чтобы выбрать" name="trade_point" required>
                                    {% for trade_point in trade_points %}
                                        <option value="{{ trade_point.id }}" {% if forloop.first %}selected{% endif %}>{{ trade_point.address.full_address }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endcomment %}

                            <button class="btn btn_basket light_orange">В корзину</button>

                        </div>



                    </div>

                </form>

            </div>

            <div class="modal_footer">

                <p class="txt_type2" id="popup_description">

                    {% comment %}
                    <strong>«Активиа»</strong> - это серия пробиотических кисломолочных продуктов с бифидобактериями ActiRegularis®. Клинически доказано, что йогурты «Активиа» помогают уменьшить чувство дискомфорта в животе. Портфель «Активиа» также включает невероятно вкусные творожки и кефирные продукты. «Активиа» рекомендована Российской гастроэнтерологической ассоциацией (РГА) для ежедневного употребления.
                    {% endcomment %}
                </p>
              {% comment %}
                <p class="txt_type2">
                    <strong>Продукты «Активиа»</strong> – это 20 лет исследовательской работы и колоссальный объем экспертных знаний. Клинические испытания подтверждают, что бифидобактерии ActiRegularis®, находящиеся в йогуртах и творожках Активиа, выживают при прохождении через желудочно-кишечный тракт человека и в больших количествах достигают микрофлоры кишечника.
                </p>
                {% endcomment %}

            </div>

        </div>
        <!-- popup 1 -->

        <!-- product popup -->
        <div class="box-modal modal_popup_product big" id="modal_desc_product">

            <div class="modal_container2">

                <form>

                    <h3 class="popup_title light_grey align_left" id="popup_name_desc">Йогурт Danone Активиа творожная натуральная, 130г</h3>

                    <div class="wrapp_product_preview">

                        <div class="product_preview_img">
                            <img src="{% comment %}static/images/product-img/product-img1.jpg{% endcomment %}" id="popup_product_url_desc">
                        </div>

                        <div class="product_preview_desc">

                            <label class="sublabel">
                                Наличие:
                            </label>

                            <p class="check_label">Есть в наличии</p>

                            <label class="sublabel">
                                Минимальный заказ:
                            </label>

                            <span class="sublabel" id="popup_minimum_amount_desc">от 100 шт</span>

                            <p class="popup_price" id="popup_price_desc"><span>49</span>р</p>

                            <label class="sublabel">Наименование</label>

                            <p id="popup_description_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet.</p>

                            {% comment %}
                            <label class="sublabel">Производитель</label>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            {% endcomment %}
                        </div>

                    </div>

                </form>

            </div>

        </div>
        <!-- product popup -->

    </div>
{% endblock %}