{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/profile_update.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

        <!-- - - - - - - - - - - - - - profile_settings_container - - - - - - - - - - - - - - - - -->

        <section class="profile_settings_container clearfix">


            <div class="box_title_button">

                <h3 class="title_line"><span>Данные о компании</span></h3>

            </div>

            <div class="row">

                <!-- profile_settings_box -->
                <div class="col-sm-6">

                    <div class="profile_settings_item">

                        <h3 class="title_edit">Адрес</h3>

                        <div class="profile_settings_box" data-mh="profile_settings_box">
                            <form action="/profile/juridical_address/" method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <!--  -->
                                <div class="setting_box" data-mh="setting_box">

                                    <span class="js_edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>

                                    <h3 class="subtitle_edit">Юридический адрес:</h3>

                                    <ul class="setting_list">
                                        <li class="clearfix">
                                            <label class="label_settings" for="index">Индекс</label>
                                            <input type="text" name="index" class="setting_input" required disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.index }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Регион</label>
                                            <input name="region" class="setting_input" required disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.region }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Город / Населенный пункт</label>
                                            <input name="city" class="setting_input" required disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.city }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Улица</label>
                                            <input name="street" class="setting_input" required disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.street }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Дом</label>
                                            <input name="house" class="setting_input" required disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.house }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Корпус</label>
                                            <input name="block" class="setting_input" disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.block }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Строение</label>
                                            <input name="structure" class="setting_input" disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.structure }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Кв. / Офис</label>
                                            <input name="flat" class="setting_input" required disabled value="{% if profile.juridical_address %}{{ profile.juridical_address.flat }}{% endif %}">
                                        </li>
                                        <li class="clearfix">

                                            {% comment %}
                                            <label class="checkbox_box" for="input_checkbox">
                                                <input name="physical_is_juridical" id="input_checkbox" class="input_checkbox" type="checkbox">
                                                <span class="checkbox-custom"></span>
                                                <span>Совпадает с юридическим</span>
                                            </label>
                                            {% endcomment %}

                                            <div class="ok_box">
                                                <button class="ok_btn" type="submit">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--/end of  -->
                            </form>
                        </div>

                    </div>

                </div>
                <!--/end of profile_settings_box -->

                <!-- profile_settings_box -->
                <div class="col-sm-6">

                    <div class="profile_settings_item">

                        <h3 class="title_edit">Адрес</h3>

                        <div class="profile_settings_box" data-mh="profile_settings_box">
                            <form action="/profile/physical_address/" method="POST">
                                {% csrf_token %}
                                <!--  -->
                                <div class="setting_box" data-mh="setting_box">

                                    <span class="js_edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>

                                    <h3 class="subtitle_edit">Фактический адрес:</h3>

                                    <ul class="setting_list">
                                        <li class="clearfix">
                                            <label class="label_settings">Индекс</label>
                                            <input name="index" class="setting_input" required disabled value="{% if profile.physical_address %}{{ profile.physical_address.index }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Регион</label>
                                            <input name="region" class="setting_input" required disabled value="{% if profile.physical_address %}{{ profile.physical_address.region }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Город / Населенный пункт</label>
                                            <input name="city" class="setting_input" required disabled value="{% if profile.physical_address %}{{ profile.physical_address.city }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Улица</label>
                                            <input name="street" class="setting_input" required disabled value="{% if profile.physical_address %}{{ profile.physical_address.street }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Дом</label>
                                            <input name="house" class="setting_input" required disabled value="{% if profile.physical_address %}{{ profile.physical_address.house }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Корпус</label>
                                            <input name="block" class="setting_input" disabled value="{% if profile.physical_address %}{{ profile.physical_address.block }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Строение</label>
                                            <input name="structure" class="setting_input" disabled value="{% if profile.physical_address %}{{ profile.physical_address.structure }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Кв. / Офис</label>
                                            <input name="flat" class="setting_input" required disabled value="{% if profile.physical_address %}{{ profile.physical_address.flat }}{% endif %}">
                                        </li>

                                        <li class="clearfix">

                                            <label class="checkbox_box" for="input_checkbox2">
                                                <input name="physical_is_juridical" id="input_checkbox2" class="input_checkbox" type="checkbox" {% if profile.physical_is_juridical %}checked{% endif %}>
                                                <span class="checkbox-custom"></span>
                                                <span>Совпадает с юридическим</span>
                                            </label>

                                            <div class="ok_box">
                                                <button class="ok_btn">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--/end of  -->
                            </form>
                        </div>
                    </div>

                </div>
                <!--/end of profile_settings_box -->

                <!-- profile_settings_box -->
                <div class="col-sm-6">

                    <div class="profile_settings_item">

                        <h3 class="title_edit">Общие данные о компании</h3>

                        <div class="profile_settings_box" data-mh="profile_settings_box">
                            <form action="/profile/company_info/" method="POST">
                            {% csrf_token %}

                                <!--  -->
                                <div class=" setting_box" data-mh="setting_box">
                                    <span class="js_edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>
                                    <ul class="setting_list">
                                        <li class="clearfix">
                                            <label>Краткая <br> организационно-правовая форма</label>

                                            <div class="wrapp_settings_select">
                                                <select disabled name="org_type_short" id="org_type_short">
                                                    {% for org_type in organization_types %}
                                                        <option value="{{ org_type.id }}" {% if profile.organization_type.id == org_type.id %}selected{% endif %}>{{ org_type.short_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </li>
                                        <li class="clearfix">

                                            <label>Полная <br> организационно-правовая форма</label>

                                            <div class="wrapp_settings_select">
                                                <select disabled name="org_type_full" id="org_type_full">
                                                    {% for org_type in organization_types %}
                                                        <option value="{{ org_type.id }}" {% if profile.organization_type.id == org_type.id %}selected{% endif %}>{{ org_type.full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </li>
                                        <li class="clearfix">
                                            <label>Наименование <br> учредительного документа</label>

                                            <div class="wrapp_settings_select">
                                                <select disabled name="legal_act">
                                                    {% for legal_act in legal_acts %}
                                                        <option value="{{ legal_act.id }}" {% if profile.legal_act.id == legal_act.id %}selected{% endif %}>{{ legal_act.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </li>
                                        <li class="clearfix">
                                            <label>ИНН</label>
                                            <input class="setting_input" name="inn" required disabled value="{{ profile.inn }}">
                                        </li>
                                        <li class="clearfix">
                                            <label>ОГРН</label>
                                            <input class="setting_input" name="ogrn" required disabled value="{% if profile.ogrn %}{{ profile.ogrn }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>КПП</label>
                                            <input class="setting_input" name="kpp" required disabled value="{% if profile.kpp %}{{ profile.kpp }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label></label>
                                            <div class="ok_box">
                                                <button class="ok_btn">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--/end of  -->
                            </form>
                        </div>

                    </div>

                </div>
                <!--/end of profile_settings_box -->

                <!-- profile_settings_box -->
                <div class="col-sm-6">

                    <div class="profile_settings_item">

                        <h3 class="title_edit">Данные подписанта</h3>

                        <div class="profile_settings_box" data-mh="profile_settings_box">
                            <form action="/profile/signer_info/" method="POST">
                                {% csrf_token %}
                                <!--  -->
                                <div class="setting_box" data-mh="settings-box">

                                    <span class="js_edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>

                                    <h3 class="subtitle_edit">Данные лица, от имени которого будут заключаться сделки</h3>

                                    <ul class="setting_list">
                                        <li class="clearfix">
                                            <label>Фамилия</label>
                                            <input name="surname" required class="setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.surname }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Имя</label>
                                            <input name="name" required class="setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.name }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Отчество</label>
                                            <input name="patronymic" required class="setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.patronymic }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Дата рождения</label>
                                            {% comment %}<input name="birth_date" required class="setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.birth_date }}{% endif %}">{% endcomment %}

                                            {% comment %}<div class="wrapp_datepicker_calendar">{% endcomment %}
                                            <input name="birth_date" required class="datepicker-here setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.birth_date|date:"d.m.Y" }}{% endif %}">
                                            {% comment %}</div>{% endcomment %}
                                        </li>
                                        <li class="clearfix">
                                            <label>ИНН</label>
                                            <input name="inn" required class="setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.inn }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Должность</label>
                                            <input name="position" required class="setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.position }}{% endif %}">
                                        </li>
                                        {% comment %}
                                        <li class="clearfix">
                                            <label>Кодовое слово</label>
                                            <input name="code_field" class="setting_input" disabled value="{% if profile.signer_info %}{{ profile.signer_info.code_field }}{% endif %}">
                                        </li>
                                        {% endcomment %}
                                        <li class="clearfix">
                                            <label></label>
                                            <div class="ok_box">
                                                <button class="ok_btn">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>

                                </div><!--/end of  -->
                            </form>

                        </div>

                    </div>

                </div>
                <!--/end of profile_settings_box -->

                <!-- profile_settings_box -->
                <div class="col-lg-6">

                    <div class="profile_settings_item">

                        <h3 class="title_edit">Документ подтверждающий личность</h3>

                        <div class="profile_settings_box" data-mh="profile_settings_box">
                            <form action="/profile/identity_document/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!--  -->
                                <div class=" setting_box" data-mh="settings-box">

                                    <span class="js_edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>

                                    <ul class="setting_list">
                                        <li class="clearfix">
                                            <label>Серия</label>
                                            <input class="setting_input" required disabled name="series" value="{% if profile.identity_document %}{{ profile.identity_document.series }}{% endif %}" data-mask="0000">
                                        </li>
                                        <li class="clearfix">
                                            <label>Номер</label>
                                            <input class="setting_input" required disabled name="number" value="{% if profile.identity_document %}{{ profile.identity_document.number}}{% endif %}" data-mask="000000">
                                        </li>
                                        <li class="clearfix">
                                            <label>Кем выдан</label>
                                            <input class="setting_input" required disabled name="issued_by" value="{% if profile.identity_document %}{{ profile.identity_document.issued_by }}{% endif %}">
                                            <input class="setting_input" required disabled name="issued_by" value="{% if profile.identity_document %}{{ profile.identity_document.issued_by }}{% endif %}">
                                        </li>
                                        <li class="clearfix">
                                            <label>Дата выдачи</label>
                                            <input name="issued_date" required class="datepicker-here setting_input" disabled value="{% if profile.identity_document %}{{ profile.identity_document.issued_date|date:"d.m.Y" }}{% endif %}">

                                        </li>
                                        <li class="clearfix">
                                            <label>Документ,<br> подтверждающий право подписи</label>

                                            <div class="select_file">
                                                {% if profile.identity_document.document %}
                                                    <a href="{{ profile.identity_document.document.url }}" download>Скачать файл</a>
                                                {% endif %}
                                                <input type="file" name="document" value="Выберите файл" class="setting_input" disabled>

                                                <span class="file_notselected">Выберите файл</span>
                                            </div>
                                        </li>

                                        <li class="clearfix">
                                            <label></label>
                                            <div class="ok_box">
                                                <button class="ok_btn">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!--/end of  -->
                            </form>
                        </div>
                    </div>

                </div>
                <!--/end of profile_settings_box -->

                <!-- profile_settings_box -->
                <div class="col-sm-6">
                    <div class="profile_settings_item">
                        <h3 class="title_edit">Используемые счета</h3>

                        <div class="profile_settings_box" data-mh="profile_settings_box">
                            <!--  -->

                        {% if accounts %}
                            {% for account in accounts %}
                                <div class="setting_box" data-mh="settings-box">
                                    <span class="js_edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>
                                        <form action="/profile/account/{{ account.id }}/" method="POST">
                                            {% csrf_token %}
                                            <ul class="setting_list">
                                                <li class="clearfix">
                                                    <label>Наименование счета</label>
                                                    <input name="name" class="setting_input" required disabled value="{{ account.name }}">
                                                </li>
                                                <li class="clearfix">
                                                    <label>Номер расчетного счета</label>
                                                    <input name="account_number" class="setting_input" required disabled value="{{ account.account_number }}">
                                                </li>
                                                <li class="clearfix">
                                                    <label>БИК</label>
                                                    <input name="bik" class="setting_input" required disabled value="{{ account.bik }}">
                                                </li>
                                                <li class="clearfix">
                                                    <label>Наименование банка</label>
                                                    <input name="bank_name" class="setting_input" required disabled value="{{ account.bank_name }}">
                                                </li>
                                                <li class="clearfix">
                                                    <label>Корреспондентский счет</label>
                                                    <input name="correspondent_account" class="setting_input" required disabled value="{{ account.correspondent_account }}">
                                                </li>
                                                <li class="clearfix">
                                                    <label></label>
                                                    <div class="ok_box">
                                                        <button class="ok_btn" type="submit">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                        {% if not forloop.last %}
                                            <hr class="deviders2">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="setting_box" data-mh="settings-box">
                                        <span class="js_edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </span>
                                        <form action="/profile/account/add/" method="POST">
                                            {% csrf_token %}
                                            <ul class="setting_list">
                                                <li class="clearfix">
                                                    <label>Наименование счета</label>
                                                    <input name="name" class="setting_input" required disabled value="">
                                                </li>
                                                <li class="clearfix">
                                                    <label>Номер расчетного счета</label>
                                                    <input name="account_number" class="setting_input" required disabled value="">
                                                </li>
                                                <li class="clearfix">
                                                    <label>БИК</label>
                                                    <input name="bik" class="setting_input" required disabled value="">
                                                </li>
                                                <li class="clearfix">
                                                    <label>Наименование банка</label>
                                                    <input name="bank_name" class="setting_input" required disabled value="">
                                                </li>
                                                <li class="clearfix">
                                                    <label>Корреспондентский счет</label>
                                                    <input name="correspondent_account" class="setting_input" required disabled value="">
                                                </li>
                                                <li class="clearfix">
                                                    <label></label>
                                                    <div class="ok_box">
                                                        <button class="ok_btn">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                {% endif %}

                                {% comment %}
                                <ul class="setting_list">
                                    <li class="clearfix">
                                        <label>Наименование счета</label>
                                        <input class="setting_input" disabled value="Резервный счет">
                                    </li>
                                    <li class="clearfix">
                                        <label>Номер расчетного счета</label>
                                        <input class="setting_input" disabled value="40097 77899 09566 07452">
                                    </li>
                                    <li class="clearfix">
                                        <label>БИК</label>
                                        <input class="setting_input" disabled value="134265266">
                                    </li>
                                    <li class="clearfix">
                                        <label>Наименование банка</label>
                                        <input class="setting_input" disabled value="ПАО “АК БАРС” БАНК">
                                    </li>
                                    <li class="clearfix">
                                        <label>Корреспондентский счет</label>
                                        <input class="setting_input" disabled value="03312 16348 73409 96456">
                                    </li>
                                    <li class="clearfix">
                                        <label></label>
                                        <div class="ok_box">
                                            <button class="ok_btn">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                                {% endcomment %}
                            </div><!--/end of  -->

                        </div>

                    </div>

                </div>
                <!--/end of profile_settings_box -->

                {% block role_specific %}

                {% endblock %}
                {% comment %}
                <!-- profile_settings_box -->
                <div class="col-sm-6">

                    <div class="profile_settings_item">

                        <h3 class="title_edit">{% if profile.role == 'customer' %}О торговых точках{% else %}О складах{% endif %}</h3>

                        <div class="profile_settings_box" data-mh="profile_settings_box">

                            <!--  -->
                            <div class="setting_box" data-mh="settings-box">

                                <span class="js_edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </span>

                                <h3 class="subtitle_edit">Юридический адрес:</h3>

                                <ul class="setting_list">
                                    <li class="clearfix">
                                        <label class="label_settings">Город / Улица / Дом</label>
                                        <input class="setting_input" disabled value="Казань, Волкова, 59">
                                    </li>
                                    <li class="clearfix">
                                        <label>Индекс</label>
                                        <input class="setting_input" disabled value="420 139">
                                    </li>
                                    <li class="clearfix">
                                        <label>Регион</label>
                                        <input class="setting_input" disabled value="Республика Татарстан">
                                    </li>
                                    <li class="clearfix">
                                        <label>Город</label>
                                        <input class="setting_input" disabled value="Казань">
                                    </li>
                                    <li class="clearfix">
                                        <label>Населеный пункт</label>
                                        <input class="setting_input" disabled value="Казань">
                                    </li>
                                    <li class="clearfix">
                                        <label>Улица</label>
                                        <input class="setting_input" disabled value="Волкова">
                                    </li>
                                    <li class="clearfix">
                                        <label>Дом</label>
                                        <input class="setting_input" disabled value="59">
                                    </li>
                                    <li class="clearfix">
                                        <label>Корпус</label>
                                        <input class="setting_input" disabled value="1">
                                    </li>
                                    <li class="clearfix">
                                        <label>Строение</label>
                                        <input class="setting_input" disabled value="1">
                                    </li>
                                    <li class="clearfix">
                                        <label>Кв. / Офис</label>
                                        <input class="setting_input" disabled value="1">
                                    </li>
                                    <!-- <li class="clearfix">
                                    </li> -->

                                    <li class="clearfix">
                                        <label for=""></label>
                                        <label for="" class="pull-right">
                                            <a href="javascript:;" class="btn_before_sqare clearfix">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                Добавить еще торговую точку
                                            </a>
                                        </label>
                                    </li>

                                    <li class="clearfix">

                                        <div class="box_settings_radio clearfix">

                                            <div class="setting_box_col50">
                                                <label for="">
                                                    Вы самостоятельно планируете
                                                    осуществить доставку товаров?
                                                </label>
                                            </div>

                                            <div class="setting_box_col50">
                                                <label class="radio_box" for="input_radio2">
                                                    <input type="radio" id="input_radio2" class="input_radio2" name="input_radio">
                                                    <span class="radio-custom"></span>
                                                    <span>Да, у нас собственная логистика</span>
                                                </label>

                                                <label class="radio_box" for="input_radio3">
                                                    <input type="radio" id="input_radio3" class="input_radio2" name="input_radio">
                                                    <span class="radio-custom"></span>
                                                    <span>Нет, хотим воспользоваться услугами ваших логистов</span>
                                                </label>
                                            </div>

                                        </div>

                                    </li>

                                    <li class="clearfix">

                                        <label for=""></label>

                                        <div class="ok_box">

                                            <button class="ok_btn">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>

                                        </div>

                                    </li>

                                </ul>
                            </div>
                            <!--/end of  -->

                        </div>

                    </div>

                </div>
                {% endcomment %}
                <!--/end of profile_settings_box -->

            </div> <!-- row -->

        </section>

        <!-- - - - - - - - - - - - - - End of profile_settings_container - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

    </div>
{% endblock %}