{% extends 'profile_create.html' %}

{% block role_specific %}
    {% if depots %}
        {% for depot in depots %} {% if forloop.first %}
            <form action="/depot/{{ depot.id }}/" class="wrapp_company_form" method="POST">
                {% csrf_token %}

                <h3 class="title_edit angle_right">Данные о складах</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">
                                <input name="full_address" id="autocomplete_bottom" onFocus="geolocateBottom()" placeholder="Город, улица, дом" value="{{ depot.address.full_address }}">
                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input name="index" readonly placeholder="Индекс" id="postal_code_bottom" required minlength="6" data-mask="000000" value="{{ depot.address.index }}">
                                    </div>

                                    <div class="form_col half">
                                        <input name="region" readonly placeholder="Регион" id="administrative_area_level_1_bottom" required value="{{ depot.address.region }}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input name="city" id="locality_bottom" readonly placeholder="Город / Населенный пункт" required value="{{ depot.address.city }}">
                                    </div>

                                    <div class="form_col half">
                                        <input name="street" id="route_bottom" readonly placeholder="Улица" required value="{{ depot.address.street }}">
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col quarter">
                                        <input name="house" placeholder="Дом" id="street_number_bottom" required value="{{ depot.address.house }}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="block" placeholder="Корпус" value="{{ depot.address.block }}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="structure" placeholder="Строение" value="{{ depot.address.structure }}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="flat" autocomplete="off" placeholder="Кв. / Офис" value="{{ depot.address.flat }}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                   </div> <!-- box_form_row -->

                    {% comment %}
                    <div class="wrapp_btn_add_plus">
                        <a href="javascript:;" class="btn_add_plus" id="tradepoint_add">
                            Добавить еще торговую точку
                        </a>
                    </div>
                    {% endcomment %}

                   <div class="align_right">
                       <button class="btn hight_orange" type="submit">Сохранить</button>
                   </div>

                </div> <!-- wrapp_form -->
            </form>
        {% endif %}{% endfor %}
    {% else %}
        <form action="/depot/add/" class="wrapp_company_form" method="POST">
            {% csrf_token %}

            <h3 class="title_edit angle_right">Данные о складах</h3>

            <div class="wrapp_form_box clearfix">

               <div class="box_form_row clearfix">

                    <!-- col 6 -->
                    <div class="box_form_half">

                        <div class="form_box_offset">
                            <input name="full_address" id="autocomplete_bottom" onfocus="geolocateBottom()" placeholder="Город, улица, дом" value="">
                        </div>

                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col half">
                                    <input name="index" placeholder="Индекс" id="postal_code_bottom" minlength="6" required readonly data-mask="000000" value="">
                                </div>

                                <div class="form_col half">
                                    <input name="region" placeholder="Регион" id="administrative_area_level_1_bottom" required readonly value="">
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- col 6 -->

                    <!-- col 6 -->
                    <div class="box_form_half">

                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col half">
                                    <input name="city" readonly id="locality_bottom" placeholder="Город / Населенный пункт" required value="">
                                </div>

                                <div class="form_col half">
                                    <input name="street" readonly id="route_bottom" placeholder="Улица" required value="">
                                </div>

                            </div>

                        </div>

                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col quarter">
                                    <input name="house" placeholder="Дом" required value="">
                                </div>

                                <div class="form_col quarter">
                                    <input name="block" placeholder="Корпус" value="">
                                </div>

                                <div class="form_col quarter">
                                    <input name="structure" placeholder="Строение" value="">
                                </div>

                                <div class="form_col quarter">
                                    <input name="flat" autocomplete="off" placeholder="Кв. / Офис" value="">
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- col 6 -->

               </div> <!-- box_form_row -->

                {% comment %}
                <div class="wrapp_btn_add_plus">
                    <a href="javascript:;" class="btn_add_plus" id="tradepoint_add">
                        Добавить еще торговую точку
                    </a>
                </div>
                {% endcomment %}

               <div class="align_right">
                   <button class="btn hight_orange" type="submit">Сохранить</button>
               </div>

            </div> <!-- wrapp_form -->
        </form>
    {% endif %}
{% endblock %}