{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/profile_create.js"></script>
    <script src="/static/js/geolocation.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo4M1eTyWA-HOp51b88dUln62wdg8pg9M&libraries=places&language=ru&callback=initAutocomplete" async defer></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

        <div class="box_title_button">

            <h3 class="title_line"><span>Данные о компании</span></h3>

            <a href="/profile/skip_creation/" class="btn light_orange icon_right large_width">
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Пропустить заполнение данных
            </a>

        </div>

        <p class="attention_txt left">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Для получения доступа к совершению сделок на площадке необходимо заполнить форму
        </p>

        <!-- - - - - - - - - - - - - - ? - - - - - - - - - - - - - - - - -->

        <section>
            <form action="/profile/juridical_address/" class="wrapp_company_form validate" method="POST" novalidate>
                {% csrf_token %}

                <h3 class="title_edit angle_right">Юридический адрес</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix geo_container">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset" id="location_field">
                                <input name="full_address" class="geo_full" id="autocomplete" onFocus="geolocate()" placeholder="Город, улица, дом" value="{% if profile.juridical_address.full_address %}{{ profile.juridical_address.full_address }}{% endif %}">
                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input id="postal_code" name="index" placeholder="Индекс" readonly minlength="6" data-mask="000000" required value="{% if profile.juridical_address.index %}{{ profile.juridical_address.index }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="form_col half">
                                        <input id="administrative_area_level_1" name="region" placeholder="Регион" readonly value="{% if profile.juridical_address.region %}{{ profile.juridical_address.region }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input id="locality" name="city" placeholder="Город / Населенный пункт" readonly required value="{% if profile.juridical_address.city %}{{ profile.juridical_address.city }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input id="route" name="street" placeholder="Улица" readonly required value="{% if profile.juridical_address.street %}{{ profile.juridical_address.street }}{% endif %}">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col quarter">
                                        <div class="error_form_container">
                                            <input id="street_number" name="house" placeholder="Дом" readonly required value="{% if profile.juridical_address.house %}{{ profile.juridical_address.house }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="block" placeholder="Корпус" value="{% if profile.juridical_address.block %}{{ profile.juridical_address.block }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="structure" placeholder="Строение" value="{% if profile.juridical_address.structure %}{{ profile.juridical_address.structure }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="flat" placeholder="Кв. / Офис" autocomplete="off" value="{% if profile.juridical_address.flat %}{{ profile.juridical_address.flat }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                   </div> <!-- box_form_row -->

                    {% comment %}
                    <div class="wrapp_btn_add_plus">
                        <a href="javascript:;" class="btn_add_plus" id="tradepoint_add">
                            Добавить еще торговую точку
                        </a>
                    </div>
                    {% endcomment %}

                   <div class="align_right">
                       <button class="btn hight_orange submit_button" type="submit">Сохранить</button>
                   </div>

                </div> <!-- wrapp_form -->
            </form>

            <!-- form 2 -->
            <form action="/profile/company_info/" method="POST" class="wrapp_company_form validate" novalidate>
                {% csrf_token %}
                <h3 class="title_edit angle_right">Общие данные о компании</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">

                                <div class="wrapp_castom_select">
                                    <select data-placeholder="Краткая организационно-правовая форма" name="org_type_short" id="org_type_short" required>
                                        {% for org_type in organization_types %}
                                            <option value="{{ org_type.id }}" {% if forloop.first and not profile.organization_type %}selected{% endif %}{% if profile.organization_type.id == org_type.id %}selected{% endif %}>{{ org_type.short_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="form_box_offset">
                                <div class="wrapp_castom_select">
                                    <select data-placeholder="Полная организационно-правовая форма" name="org_type_full" id="org_type_full">
                                        {% for org_type in organization_types %}
                                            <option value="{{ org_type.id }}" {% if forloop.first and not profile.organization_type  %}selected{% endif %}{% if profile.organization_type.id == org_type.id %}selected{% endif %}>{{ org_type.full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form_box_offset">
                                <input name="inn" placeholder="ИНН" value="{{ profile.inn }}" data-mask="000000000099" minlength="10" class="number_type_clear">
                            </div>

                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">

                                <div class="wrapp_castom_select">
                                    <select data-placeholder="Наименование учредительного документа" name="legal_act">
                                        {% for legal_act in legal_acts %}
                                            <option value="{{ legal_act.id }}">{{ legal_act.name }}</option>
                                        {% endfor %}
                                        {% comment %}
                                        <option value="">Устав</option>
                                        <option value="">Учредительный договор</option>
                                        {% endcomment %}
                                    </select>
                                </div>

                            </div>

                            <div class="form_box_offset">

                                <input class="number_type_clear" name="ogrn" placeholder="ОГРН" minlength="13" data-mask="000000000000099" value="{% if profile.ogrn %}{{ profile.ogrn }}{% endif %}">

                            </div>

                            <div class="form_box_offset">

                                <input class="number_type_clear" name="kpp" placeholder="КПП" minlength="9" data-mask="000000000" value="{% if profile.kpp %}{{ profile.kpp }}{% endif %}">

                            </div>

                        </div>
                        <!-- col 6 -->


                   </div> <!-- box_form_row -->

                   <div class="align_right">
                       <button class="btn hight_orange submit_button" type="submit">Сохранить</button>
                   </div>

                </div> <!-- wrapp_form -->

            </form>

            <!-- form 3 -->
            <form action="/profile/signer_info_and_identity/" class="wrapp_company_form validate" method="POST" novalidate>
                {% csrf_token %}

                <h3 class="title_edit angle_right">Данные подписанта</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <h3 class="subtitle_edit">Данные лица, от имени которого будут заключаться сделки</h3>

                            <div class="form_box_offset">
                                <div class="error_form_container">
                                    <input required placeholder="Фамилия" name="surname" value="{% if profile.signer_info %}{{ profile.signer_info.surname }}{% endif %}">
                                </div>
                            </div>

                            <div class="form_box_offset">
                                <div class="error_form_container">
                                    <input required placeholder="Имя" name="name" value="{% if profile.signer_info %}{{ profile.signer_info.name }}{% endif %}">
                                </div>
                            </div>

                            <div class="form_box_offset">
                                <div class="error_form_container">
                                    <input required placeholder="Отчество" name="patronymic" value="{% if profile.signer_info %}{{ profile.signer_info.patronymic }}{% endif %}">
                                </div>
                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <div class="wrapp_datepicker_calendar error_form_container">
                                            <input required name="birth_date" class="datepicker-here" placeholder="Дата рождения" value="{% if profile.signer_info %}{{ profile.signer_info.birth_date|date:"d.m.Y" }}{% endif %}">
                                        </div>
                                    </div>

                                    {% comment %}
                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input required name="inn" placeholder="ИНН" data-mask="0000000000000000" value="{{ profile.inn }}">
                                        </div>
                                    </div>
                                    {% endcomment %}

                                </div>

                            </div>

                            <div class="form_box_offset">
                                <input name="position" placeholder="Должность" value="{% if profile.signer_info %}{{ profile.signer_info.position }}{% endif %}">
                            </div>

                            {% comment %}
                            <div class="form_box_offset">
                                <input name="code_field" placeholder="Кодовое слово" value="{% if profile.signer_info %}{{ profile.signer_info.code_field }}{% endif %}">
                            </div>
                            {% endcomment %}
                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <h3 class="subtitle_edit">Документ, подтверждающий личность (паспорт)</h3>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input required placeholder="Серия" name="series" value="{% if profile.identity_document %}{{ profile.identity_document.series }}{% endif %}" data-mask="0000">
                                        </div>
                                    </div>

                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input required placeholder="Номер" name="number" value="{% if profile.identity_document %}{{ profile.identity_document.number}}{% endif %}" data-mask="000000">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">
                                <div class="error_form_container">
                                    <input required placeholder="Кем выдан" name="issued_by" value="{% if profile.identity_document %}{{ profile.identity_document.issued_by }}{% endif %}">
                                </div>
                            </div>

                            <div class="form_box_offset">
                                <div class="wrapp_datepicker_calendar error_form_container">
                                    <input required name="issued_date" class="datepicker-here" placeholder="Дата выдачи" value="{% if profile.identity_document %}{{ profile.identity_document.issued_date|date:"d.m.Y" }}{% endif %}">
                                </div>
                            </div>

                            <div class="form_box_offset">
                                <label class="label1">
                                    Прикрепите документ, подтверждающий право подписи (доверенность), <br>
                                    либо протокол о назначении директором
                                </label>

                                <div class="select_file">
                                    {% if profile.identity_document.document %}
                                        <a href="{{ profile.identity_document.document.url }}" download>Скачать файл</a>
                                    {% endif %}
                                    <input type="file" name="document" value="Выберите файл">
                                    <span class="file_notselected">Выберите файл</span>
                                </div>

                                <div class="wrapp_privacy_policy">

                                    <input type="checkbox" id="privacy_policy" name="privacy_policy" checked>
                                    <label for="privacy_policy">
                                    </label>

                                    <label for="privacy_policy" class="privacy_policy_txt">
                                        Я даю
                                        <a href="javascript:;">согласие на обработку персональных данных</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- col 6 -->

                   </div> <!-- box_form_row -->

                   <div class="align_right">
                       <button type="submit" class="btn hight_orange submit_button">Сохранить</button>
                   </div>

                </div> <!-- wrapp_form -->

            </form>

            {% if accounts %}
                {% for account in accounts %}{% if forloop.first %}
                    <!-- form 4 -->
                    <form action="/profile/account/{{ account.id }}/" method="POST" class="wrapp_company_form validate" novalidate>
                        {% csrf_token %}

                        <h3 class="title_edit angle_right">Настройка счета</h3>

                        <div class="wrapp_form_box clearfix">

                            <div class="box_form_row clearfix">

                                <!-- col 6 -->
                                <div class="box_form_half">
                                    {% comment %}
                                    <div class="form_box_offset">
                                        <div class="error_form_container">
                                            <input name="name" placeholder="Наименование счета" required value="{{ account.name }}">
                                        </div>
                                    </div>
                                    {% endcomment %}

                                    <div class="form_box_offset">

                                        <div class="form_row clearfix">

                                            <div class="form_col half">
                                                <div class="error_form_container">
                                                    <input name="account_number" placeholder="Номер расчетного счета" required value="{{ account.account_number }}" data-mask="00000000000000000000">
                                                </div>
                                            </div>

                                            <div class="form_col half">
                                                <input name="bik" placeholder="БИК" required value="{{ account.bik }}" data-mask="000000000">
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <!-- col 6 -->

                                <!-- col 6 -->
                                <div class="box_form_half">

                                    <div class="form_box_offset">
                                        <div class="error_form_container">
                                            <input name="bank_name" placeholder="Наименование банка" required value="{{ account.bank_name }}">
                                        </div>
                                    </div>

                                    <div class="form_box_offset">
                                        <div class="error_form_container">
                                            <input name="correspondent_account" placeholder="Корреспондентский счет" required value="{{ account.correspondent_account }}" data-mask="00000000000000000000">
                                        </div>
                                    </div>

                                </div>
                                <!-- col 6 -->

                            </div> <!-- box_form_row -->

                            {% comment %}
                            <div class="wrapp_btn_add_plus profile_account_add">
                                <a href="javascript:;" class="btn_add_plus">Добавить счет</a>
                            </div>
                            {% endcomment %}

                            <div class="align_right">
                               <button type="submit" class="btn hight_orange submit_button">Сохранить</button>
                            </div>

                        </div> <!-- wrapp_form -->
                    </form>
                {% endif %}{% endfor %}
            {% else %}
                <form action="/profile/account/add/" method="POST" class="wrapp_company_form validate" novalidate>
                    {% csrf_token %}

                    <h3 class="title_edit angle_right">Настройка счета</h3>

                    <div class="wrapp_form_box clearfix">

                        <div class="box_form_row clearfix">

                            <!-- col 6 -->
                            <div class="box_form_half">
                                {% comment %}
                                <div class="form_box_offset">
                                    <div class="error_form_container">
                                        <input name="name" placeholder="Наименование счета" required value="">
                                    </div>
                                </div>
                                {% endcomment %}

                                <div class="form_box_offset">

                                    <div class="form_row clearfix">

                                        <div class="form_col half">
                                            <div class="error_form_container">
                                                <input name="account_number" placeholder="Номер расcчетного счета" required value="" data-mask="0000000000000000">
                                            </div>
                                        </div>

                                        <div class="form_col half">
                                            <div class="error_form_container">
                                                <input name="bik" placeholder="БИК" required value="" data-mask="00000000">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- col 6 -->

                            <!-- col 6 -->
                            <div class="box_form_half">

                                <div class="form_box_offset">
                                    <div class="error_form_container">
                                        <input name="bank_name" placeholder="Наименование банка" required value="">
                                    </div>
                                </div>

                                <div class="form_box_offset">
                                    <div class="error_form_container">
                                        <input name="correspondent_account" placeholder="Корреспондентский счет" required value="" data-mask="0000000000000000">
                                    </div>
                                </div>

                            </div>
                            <!-- col 6 -->

                        </div> <!-- box_form_row -->

                        {% comment %}
                        <div class="wrapp_btn_add_plus profile_account_add">
                            <a href="javascript:;" class="btn_add_plus">Добавить счет</a>
                        </div>
                        {% endcomment %}

                        <div class="align_right">
                           <button type="submit" class="btn hight_orange submit_button">Сохранить</button>
                        </div>

                    </div> <!-- wrapp_form -->
                </form>
            {% endif %}

            {% block role_specific %}

            {% endblock %}

            <div class="align_right">
                <a href="/profile/skip_creation/" class="btn light_orange icon_right large_width" id="create_profile">
                   <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    Продолжить
                </a>
            </div>

        </section>

        <!-- - - - - - - - - - - - - - End of ? - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

    </div>
{% endblock %}