{% extends 'profile_update.html' %}

{% block role_specific %}
<div class="col-sm-6">

    <div class="profile_settings_item">

        <h3 class="title_edit">О складах</h3>

        <div class="profile_settings_box" data-mh="profile_settings_box">
            {% if depots %}
                {% for depot in depots %}
                    <form action="/depot/{{ depot.id }}/" method="POST">
                        {% csrf_token %}
                        <!--  -->
                        <div class="setting_box" data-mh="settings-box">

                            <span class="js_edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>

                            <h3 class="subtitle_edit">Юридический адрес:</h3>

                            <ul class="setting_list">
                                <li class="clearfix">
                                    <label class="label_settings">Город / Улица / Дом</label>
                                    <input name="full_address" class="setting_input" disabled value="{{ depot.address.full_address }}">
                                </li>
                                <li class="clearfix">
                                    <label>Индекс</label>
                                    <input name="index" required minlength="6" class="setting_input" disabled value="{{ depot.address.index }}">
                                </li>
                                <li class="clearfix">
                                    <label>Регион</label>
                                    <input name="region" required class="setting_input" disabled value="{{ depot.address.region }}">
                                </li>
                                <li class="clearfix">
                                    <label>Город</label>
                                    <input name="city" required class="setting_input" disabled value="{{ depot.address.city }}">
                                </li>
                                {% comment %}
                                <li class="clearfix">
                                    <label>Населеный пункт</label>
                                    <input class="setting_input" disabled value="Казань">
                                </li>
                                {% endcomment %}
                                <li class="clearfix">
                                    <label>Улица</label>
                                    <input name="street" class="setting_input" disabled value="{{ depot.address.street }}">
                                </li>
                                <li class="clearfix">
                                    <label>Дом</label>
                                    <input name="house" class="setting_input" disabled value="{{ depot.address.house }}">
                                </li>
                                <li class="clearfix">
                                    <label>Корпус</label>
                                    <input name="block" class="setting_input" disabled value="{{ depot.address.block }}">
                                </li>
                                <li class="clearfix">
                                    <label>Строение</label>
                                    <input name="structure" class="setting_input" disabled value="{{ depot.address.structure }}">
                                </li>
                                <li class="clearfix">
                                    <label>Кв. / Офис</label>
                                    <input name="flat" class="setting_input" autocomplete="off" disabled value="{{ depot.address.flat }}">
                                </li>
                                <!-- <li class="clearfix">
                                </li> -->

                                {% comment %}
                                <li class="clearfix">
                                    <label for=""></label>
                                    <label for="" class="pull-right">
                                        <a href="javascript:;" class="btn_before_sqare clearfix">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Добавить еще торговую точку
                                        </a>
                                    </label>
                                </li>


                                <li class="clearfix">

                                    <div class="box_settings_radio clearfix">

                                        <div class="setting_box_col50">
                                            <label for="">
                                                Вы самостоятельно планируете
                                                осуществить доставку товаров?
                                            </label>
                                        </div>

                                        <div class="setting_box_col50">
                                            <label class="radio_box" for="input_radio2">
                                                <input type="radio" id="input_radio2" class="input_radio2" name="input_radio">
                                                <span class="radio-custom"></span>
                                                <span>Да, у нас собственная логистика</span>
                                            </label>

                                            <label class="radio_box" for="input_radio3">
                                                <input type="radio" id="input_radio3" class="input_radio2" name="input_radio">
                                                <span class="radio-custom"></span>
                                                <span>Нет, хотим воспользоваться услугами ваших логистов</span>
                                            </label>
                                        </div>

                                    </div>

                                </li>
                                {% endcomment %}
                                <li class="clearfix">

                                    <label for=""></label>

                                    <div class="ok_box">

                                        <button class="ok_btn">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>

                                    </div>

                                </li>

                            </ul>
                        </div>
                        <!--/end of  -->
                    </form>
                {% endfor %}
            {% else %}
                <form action="/depot/add/" method="POST">
                    {% csrf_token %}
                        <!--  -->
                    <div class="setting_box" data-mh="settings-box">

                        <span class="js_edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>

                        <h3 class="subtitle_edit">Юридический адрес:</h3>

                        <ul class="setting_list">
                            <li class="clearfix">
                                <label class="label_settings">Город / Улица / Дом</label>
                                <input name="full_address" class="setting_input" disabled value="">
                            </li>
                            <li class="clearfix">
                                <label>Индекс</label>
                                <input name="index" minlength="6" required class="setting_input" disabled value="">
                            </li>
                            <li class="clearfix">
                                <label>Регион</label>
                                <input name="region" required class="setting_input" disabled value="">
                            </li>
                            <li class="clearfix">
                                <label>Город</label>
                                <input name="city" required class="setting_input" disabled value="">
                            </li>
                            {% comment %}
                            <li class="clearfix">
                                <label>Населеный пункт</label>
                                <input class="setting_input" disabled value="">
                            </li>
                            {% endcomment %}
                            <li class="clearfix">
                                <label>Улица</label>
                                <input name="street" class="setting_input" disabled value="">
                            </li>
                            <li class="clearfix">
                                <label>Дом</label>
                                <input name="house" class="setting_input" disabled value="">
                            </li>
                            <li class="clearfix">
                                <label>Корпус</label>
                                <input name="block" class="setting_input" disabled value="">
                            </li>
                            <li class="clearfix">
                                <label>Строение</label>
                                <input name="structure" class="setting_input" disabled value="">
                            </li>
                            <li class="clearfix">
                                <label>Кв. / Офис</label>
                                <input name="flat" class="setting_input" autocomplete="off" disabled value="">
                            </li>
                            <!-- <li class="clearfix">
                            </li> -->

                            {% comment %}
                            <li class="clearfix">
                                <label for=""></label>
                                <label for="" class="pull-right">
                                    <a href="javascript:;" class="btn_before_sqare clearfix">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Добавить еще торговую точку
                                    </a>
                                </label>
                            </li>
                            {% endcomment %}

                            {% comment %}
                            <li class="clearfix">

                                <div class="box_settings_radio clearfix">

                                    <div class="setting_box_col50">
                                        <label for="">
                                            Вы самостоятельно планируете
                                            осуществить доставку товаров?
                                        </label>
                                    </div>

                                    <div class="setting_box_col50">
                                        <label class="radio_box" for="input_radio2">
                                            <input type="radio" id="input_radio2" class="input_radio2" name="input_radio">
                                            <span class="radio-custom"></span>
                                            <span>Да, у нас собственная логистика</span>
                                        </label>

                                        <label class="radio_box" for="input_radio3">
                                            <input type="radio" id="input_radio3" class="input_radio2" name="input_radio">
                                            <span class="radio-custom"></span>
                                            <span>Нет, хотим воспользоваться услугами ваших логистов</span>
                                        </label>
                                    </div>

                                </div>

                            </li>
                            {% endcomment %}


                            <li class="clearfix">

                                <label for=""></label>

                                <div class="ok_box">

                                    <button class="ok_btn">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>

                                </div>

                            </li>

                        </ul>
                    </div>
                    <!--/end of  -->
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}