{% extends 'profile_create.html' %}

{% block role_specific %}
    {% if trade_points %}
        {% for trade_point in trade_points %}
            <form action="/trade_point/{{ trade_point.id }}/" class="wrapp_company_form subjoin_address validate autocomplete_overlord" method="POST" novalidate>
                {% csrf_token %}
                <input type="hidden" name="lat" class="autocomplete_lat">
                <input type="hidden" name="lng" class="autocomplete_lng">

                <h3 class="title_edit angle_right">Адрес доставки № {{ forloop.counter }}</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">
                                <input name="full_address" class="autocomplete" id="autocomplete_bottom_{{ forloop.counter }}" placeholder="Город, улица, дом" value="{{ trade_point.address.full_address }}">
                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input name="index" readonly class="autocomplete_index" placeholder="Индекс" id="postal_code_bottom_{{ forloop.counter }}" minlength="6" data-mask="000000" value="{{ trade_point.address.index }}">
                                        </div>
                                    </div>

                                    <div class="form_col half">
                                        <input name="region" readonly class="autocomplete_region" placeholder="Регион" id="administrative_area_level_1_bottom_{{ forloop.counter }}" value="{{ trade_point.address.region }}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input name="city" class="autocomplete_city" id="locality_bottom_{{ forloop.counter }}" readonly placeholder="Город / Населенный пункт" required value="{{ trade_point.address.city }}">
                                    </div>

                                    <div class="form_col half">
                                        <div class="error_form_container">
                                            <input name="street" class="autocomplete_street" id="route_bottom_{{ forloop.counter }}" readonly placeholder="Улица" required value="{{ trade_point.address.street }}">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col quarter">
                                        <input name="house" class="autocomplete_house" placeholder="Дом" id="street_number_bottom_{{ forloop.counter }}" readonly required value="{{ trade_point.address.house }}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="block" class="autocomplete_block" placeholder="Корпус" value="{{ trade_point.address.block }}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="structure" class="autocomplete_structure" placeholder="Строение" value="{{ trade_point.address.structure }}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="flat" class="autocomplete_flat" placeholder="Кв. / Офис" value="{{ trade_point.address.flat }}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                   </div> <!-- box_form_row -->


                   <div class="align_right clearfix">
                       <button class="btn hight_orange submit_button" type="submit">Сохранить</button>

                       <button class="btn hight_orange delete_button" type="submit">Удалить</button>
                   </div>
                    {% if forloop.last %}
                    <br><br>
                    <div class="wrapp_btn_add_plus">
                        <a href="javascript:;" class="btn_add_plus" id="tradepoint_add">
                            Добавить еще торговую точку
                        </a>
                    </div>
                    {% endif %}


                </div> <!-- wrapp_form -->

            </form>
        {% endfor %}
    {% endif %}
    {% if trade_points %}
    <div style="display: none" id="hidden_trade_point">
    {% endif %}
        <form action="/trade_point/add/" class="wrapp_company_form validate" method="POST" novalidate>
            {% csrf_token %}
            <input type="hidden" name="lat" class="autocomplete_lat">
            <input type="hidden" name="lng" class="autocomplete_lng">

            <h3 class="title_edit angle_right">Добавить адрес доставки</h3>

            <div class="wrapp_form_box clearfix">

                <div class="box_form_row clearfix">

                    <!-- col 6 -->
                    <div class="box_form_half">

                        <div class="form_box_offset">
                            <input name="full_address" class="autocomplete" id="autocomplete_bottom" placeholder="Город, улица, дом" value="">
                        </div>

                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col half">
                                    <div class="error_form_container">
                                        <input name="index" class="autocomplete_index" readonly placeholder="Индекс" id="postal_code_bottom" data-mask="000000" value="">
                                    </div>
                                </div>

                                <div class="form_col half">
                                    <div class="error_form_container">
                                        <input name="region" class="autocomplete_region" readonly placeholder="Регион" id="administrative_area_level_1_bottom" value="">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- col 6 -->

                    <!-- col 6 -->
                    <div class="box_form_half">

                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col half">
                                    <div class="error_form_container">
                                        <input name="city" class="autocomplete_city" readonly id="locality_bottom" placeholder="Город / Населенный пункт" required value="">
                                    </div>
                                </div>

                                <div class="form_col half">
                                    <div class="error_form_container">
                                        <input name="street" class="autocomplete_street" id="route_bottom" readonly placeholder="Улица" required value="">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="form_box_offset">

                            <div class="form_row clearfix">

                                <div class="form_col quarter">
                                    <div class="error_form_container">
                                        <input name="house" class="autocomplete_house" id="street_number_bottom" placeholder="Дом" readonly required value="">
                                    </div>
                                </div>

                                <div class="form_col quarter">
                                    <input name="block" class="autocomplete_block" placeholder="Корпус" value="">
                                </div>

                                <div class="form_col quarter">
                                    <input name="structure" class="autocomplete_structure" placeholder="Строение" value="">
                                </div>

                                <div class="form_col quarter">
                                    <input name="flat" class="autocomplete_flat" placeholder="Кв. / Офис" value="">
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- col 6 -->

                </div> <!-- box_form_row -->


                {% comment %}
                <div class="wrapp_btn_add_plus">
                     <a href="javascript:;" class="btn_add_plus" id="tradepoint_add">
                         Добавить еще торговую точку
                     </a>
                </div>
                {% endcomment %}

                <div class="align_right">
                   <button class="btn hight_orange submit_button" type="submit">Сохранить</button>
                </div>

            </div> <!-- wrapp_form -->
        </form>
    {% if trade_points %}
    </div>
    {% endif %}
{% endblock %}