{% extends 'base.html' %}

{% block js_css %}
    <script src="/static/js/profile_create.js"></script>
{% endblock %}

{% block content %}
    <div id="content" class="wrapp_content">

        <div class="box_title_button">

            <h3 class="title_line"><span>Данные о компании</span></h3>

            <a href="/profile/skip_creation/" class="btn light_orange icon_right large_width">
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Пропустить заполнение данных
            </a>

        </div>

        <p class="attention_txt left">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Для получения доступа к совершению сделок на площадке необходимо заполнить форму
        </p>

        <!-- - - - - - - - - - - - - - ? - - - - - - - - - - - - - - - - -->

        <section>

            <!-- form 1 -->
            <form action="/profile/fiz_and_jur_address/" class="wrapp_company_form" method="POST">
                {% csrf_token %}

                <h3 class="title_edit angle_right">Адрес</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <h3 class="subtitle_edit">Юридический адрес:</h3>

                            <div class="form_box_offset">
                                <input name="jur_full_address" placeholder="Город, улица, дом" value="{% if profile.juridical_address %}{{ profile.juridical_address.full_address }}{% endif %}">
                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input name="jur_index" required placeholder="Индекс" data-mask="000000" value="{% if profile.juridical_address %}{{ profile.juridical_address.index }}{% endif %}">
                                    </div>

                                    <div class="form_col half">
                                        <input name="jur_region" required placeholder="Регион" value="{% if profile.juridical_address %}{{ profile.juridical_address.region }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input name="jur_city" required placeholder="Город / Населенный пункт" value="{% if profile.juridical_address %}{{ profile.juridical_address.city }}{% endif %}">
                                    </div>

                                    <div class="form_col half">
                                        <input name="jur_street" required placeholder="Улица" value="{% if profile.juridical_address %}{{ profile.juridical_address.street }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col quarter">
                                        <input name="jur_house" required placeholder="Дом" value="{% if profile.juridical_address %}{{ profile.juridical_address.house }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="jur_block" placeholder="Корпус" value="{% if profile.juridical_address %}{{ profile.juridical_address.block }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="jur_structure" placeholder="Строение" value="{% if profile.juridical_address %}{{ profile.juridical_address.structure }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="jur_flat" required placeholder="Кв. / Офис" value="{% if profile.juridical_address %}{{ profile.juridical_address.flat }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="wrapp_subtitle_edit">

                                <h3 class="subtitle_edit">
                                    Фактический адрес:
                                </h3>

                                <div class="wrapp_radio_box">
                                    <label class="radio_box" for="input_radio2">
                                        <input type="radio" id="input_radio2" class="input_radio2" name="input_radio" value="true" checked>
                                        <span class="radio-custom"></span>
                                        <span>Совпадает с юридическим</span>
                                    </label>

                                    <label class="radio_box" for="input_radio3">
                                        <input type="radio" id="input_radio3" class="input_radio2" name="input_radio" value="false">
                                        <span class="radio-custom"></span>
                                        <span>Другой</span>
                                    </label>
                                </div>

                            </div>

                            <div class="form_box_offset">
                                <input name="fiz_full_address" placeholder="Город, улица, дом" value="{% if profile.physical_address %}{{ profile.physical_address.full_address }}{% endif %}">
                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input name="fiz_index" required placeholder="Индекс" data-mask="000000" value="{% if profile.physical_address %}{{ profile.physical_address.index }}{% endif %}">
                                    </div>

                                    <div class="form_col half">
                                        <input name="fiz_region" placeholder="Регион" value="{% if profile.physical_address %}{{ profile.physical_address.region }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input name="fiz_city" required placeholder="Город / Населенный пункт" value="{% if profile.physical_address %}{{ profile.physical_address.city }}{% endif %}">
                                    </div>

                                    <div class="form_col half">
                                        <input name="fiz_street" required placeholder="Улица" value="{% if profile.physical_address %}{{ profile.physical_address.street }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col quarter">
                                        <input name="fiz_house" required placeholder="Дом" value="{% if profile.physical_address %}{{ profile.physical_address.house }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="fiz_block" placeholder="Корпус" value="{% if profile.physical_address %}{{ profile.physical_address.block }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="fiz_structure" placeholder="Строение" value="{% if profile.physical_address %}{{ profile.physical_address.structure }}{% endif %}">
                                    </div>

                                    <div class="form_col quarter">
                                        <input name="fiz_flat" required placeholder="Кв. / Офис" value="{% if profile.physical_address %}{{ profile.physical_address.flat }}{% endif %}">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- col 6 -->

                   </div> <!-- box_form_row -->

                   <div class="align_right">
                       <button class="btn hight_orange">Сохранить</button>
                   </div>

                </div> <!-- wrapp_form -->

            </form>

            <!-- form 2 -->
            <form action="/profile/company_info/" method="POST" class="wrapp_company_form">
                {% csrf_token %}
                <h3 class="title_edit angle_right">Общие данные о компании</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">

                                <div class="wrapp_castom_select">
                                    <select data-placeholder="Краткая организационно-правовая форма" name="org_type_short" id="org_type_short">
                                        {% for org_type in organization_types %}
                                            <option value="{{ org_type.id }}" {% if profile.organization_type.id == org_type.id %}selected{% endif %}>{{ org_type.short_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="form_box_offset">
                                <div class="wrapp_castom_select">
                                    <select data-placeholder="Полная организационно-правовая форма" name="org_type_full" id="org_type_full">
                                        {% for org_type in organization_types %}
                                            <option value="{{ org_type.id }}" {% if profile.organization_type.id == org_type.id %}selected{% endif %}>{{ org_type.full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form_box_offset">
                                <input name="inn" placeholder="ИНН" value="{{ profile.inn }}">
                            </div>

                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <div class="form_box_offset">

                                <div class="wrapp_castom_select">
                                    <select data-placeholder="Наименование учредительного документа" name="legal_act">
                                        {% for legal_act in legal_acts %}
                                            <option value="{{ legal_act.id }}">{{ legal_act.name }}</option>
                                        {% endfor %}
                                        {% comment %}
                                        <option value="">Устав</option>
                                        <option value="">Учредительный договор</option>
                                        {% endcomment %}
                                    </select>
                                </div>

                            </div>

                            <div class="form_box_offset">

                                <input name="ogrn" placeholder="ОГРН" data-mask="00000000" value="{% if profile.ogrn %}{{ profile.ogrn }}{% endif %}">

                            </div>

                            <div class="form_box_offset">

                                <input name="kpp" placeholder="КПП" data-mask="00000000" value="{% if profile.kpp %}{{ profile.kpp }}{% endif %}">

                            </div>

                        </div>
                        <!-- col 6 -->


                   </div> <!-- box_form_row -->

                   <div class="align_right">
                       <button class="btn hight_orange" type="submit">Сохранить</button>
                   </div>

                </div> <!-- wrapp_form -->

            </form>

            <!-- form 3 -->
            <form action="/profile/signer_info/" class="wrapp_company_form" method="POST">
                {% csrf_token %}

                <h3 class="title_edit angle_right">Данные подписанта</h3>

                <div class="wrapp_form_box clearfix">

                   <div class="box_form_row clearfix">

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <h3 class="subtitle_edit">Данные лица, от имени которого будут заключаться сделки</h3>

                            <div class="form_box_offset">
                                <input placeholder="Фамилия" name="surname" value="{% if profile.signer_info %}{{ profile.signer_info.surname }}{% endif %}">
                            </div>

                            <div class="form_box_offset">
                                <input placeholder="Имя" name="name" value="{% if profile.signer_info %}{{ profile.signer_info.name }}{% endif %}">
                            </div>

                            <div class="form_box_offset">
                                <input  placeholder="Отчество" name="patronymic" value="{% if profile.signer_info %}{{ profile.signer_info.patronymic }}{% endif %}">
                            </div>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <div class="wrapp_datepicker_calendar">
                                            <input name="birthdate" class="datepicker-here" placeholder="Дата рождения" value="{% if profile.signer_info %}{{ profile.signer_info.birth_date|date:"d.m.Y" }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="form_col half">
                                        <input name="inn" placeholder="ИНН" data-mask="0000000000000000" value="{{ profile.inn }}">
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">
                                <input name="position" placeholder="Должность" value="{% if profile.signer_info %}{{ profile.signer_info.position }}{% endif %}">
                            </div>

                            <div class="form_box_offset">
                                <input name="code_field" placeholder="Кодовое слово" value="{% if profile.signer_info %}{{ profile.signer_info.code_field }}{% endif %}">
                            </div>

                        </div>
                        <!-- col 6 -->

                        <!-- col 6 -->
                        <div class="box_form_half">

                            <h3 class="subtitle_edit">Документ, подтверждающий личность (паспорт)</h3>

                            <div class="form_box_offset">

                                <div class="form_row clearfix">

                                    <div class="form_col half">
                                        <input placeholder="Серия" name="series" value="{% if profile.identity_document %}{{ profile.identity_document.series }}{% endif %}" data-mask="0000">
                                    </div>

                                    <div class="form_col half">
                                        <input placeholder="Номер" name="number" value="{% if profile.identity_document %}{{ profile.identity_document.number}}{% endif %}" data-mask="000000">
                                    </div>

                                </div>

                            </div>

                            <div class="form_box_offset">
                                <input placeholder="Кем выдан" name="issued_by" value="{% if profile.identity_document %}{{ profile.identity_document.issued_by }}{% endif %}">
                            </div>

                            <div class="form_box_offset">
                                <div class="wrapp_datepicker_calendar">
                                    <input name="issued_date" class="datepicker-here" placeholder="Дата выдачи" value="{% if profile.identity_document %}{{ profile.identity_document.issued_date|date:"d.m.Y" }}{% endif %}">
                                </div>
                            </div>

                            <div class="form_box_offset">
                                <label class="label1">
                                    Прикрепите документ, подтверждающий право подписи (доверенность), <br>
                                    либо протокол о назначении директором
                                </label>

                                <div class="select_file">
                                    {% if profile.identity_document.document %}
                                        <a href="{{ profile.identity_document.document.url }}" download>Скачать файл</a>
                                    {% endif %}
                                    <input type="file" name="document" value="Выберите файл">
                                    <span class="file_notselected">Выберите файл</span>
                                </div>

                                <div class="wrapp_privacy_policy">

                                    <input type="checkbox" id="privacy_policy" name="privacy_policy">
                                    <label for="privacy_policy">
                                    </label>

                                    <label for="privacy_policy" class="privacy_policy_txt">
                                        Я даю
                                        <a href="javascript:;">согласие на обработку персональных данных</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- col 6 -->

                   </div> <!-- box_form_row -->

                   <div class="align_right">
                       <button type="submit" class="btn hight_orange">Сохранить</button>
                   </div>

                </div> <!-- wrapp_form -->

            </form>

            {% if accounts %}
                {% for account in accounts %}{% if forloop.first %}
                    <!-- form 4 -->
                    <form action="/profile/account/{{ account.id }}/" method="POST" class="wrapp_company_form">
                        {% csrf_token %}

                        <h3 class="title_edit angle_right">Настройка счета</h3>

                        <div class="wrapp_form_box clearfix">

                            <div class="box_form_row clearfix">

                                <!-- col 6 -->
                                <div class="box_form_half">

                                    <div class="form_box_offset">
                                        <input name="name" placeholder="Наименование счета" required value="{{ account.name }}">
                                    </div>

                                    <div class="form_box_offset">

                                        <div class="form_row clearfix">

                                            <div class="form_col half">
                                                <input name="account_number" placeholder="Номер расчетного счета" required value="{{ account.account_number }}" data-mask="0000000000000000">
                                            </div>

                                            <div class="form_col half">
                                                <input name="bik" placeholder="БИК" required value="{{ account.bik }}" data-mask="00000000">
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <!-- col 6 -->

                                <!-- col 6 -->
                                <div class="box_form_half">

                                    <div class="form_box_offset">
                                        <input name="bank_name" placeholder="Наименование банка" required value="{{ account.bank_name }}">
                                    </div>

                                    <div class="form_box_offset">
                                        <input name="correspondent_account" placeholder="Корреспондентский счет" required value="{{ account.correspondent_account }}" data-mask="0000000000000000">
                                    </div>

                                </div>
                                <!-- col 6 -->

                            </div> <!-- box_form_row -->

                            {% comment %}
                            <div class="wrapp_btn_add_plus profile_account_add">
                                <a href="javascript:;" class="btn_add_plus">Добавить счет</a>
                            </div>
                            {% endcomment %}

                            <div class="align_right">
                               <button type="submit" class="btn hight_orange">Сохранить</button>
                            </div>

                        </div> <!-- wrapp_form -->
                    </form>
                {% endif %}{% endfor %}
            {% else %}
                <form action="/profile/account/add/" method="POST" class="wrapp_company_form">
                    {% csrf_token %}

                    <h3 class="title_edit angle_right">Настройка счета</h3>

                    <div class="wrapp_form_box clearfix">

                        <div class="box_form_row clearfix">

                            <!-- col 6 -->
                            <div class="box_form_half">

                                <div class="form_box_offset">
                                    <input name="name" placeholder="Наименование счета" required value="">
                                </div>

                                <div class="form_box_offset">

                                    <div class="form_row clearfix">

                                        <div class="form_col half">
                                            <input name="account_number" placeholder="Номер расчетного счета" required value="" data-mask="0000000000000000">
                                        </div>

                                        <div class="form_col half">
                                            <input name="bik" placeholder="БИК" required value="" data-mask="00000000">
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- col 6 -->

                            <!-- col 6 -->
                            <div class="box_form_half">

                                <div class="form_box_offset">
                                    <input name="bank_name" placeholder="Наименование банка" required value="">
                                </div>

                                <div class="form_box_offset">
                                    <input name="correspondent_account" placeholder="Корреспондентский счет" required value="" data-mask="0000000000000000">
                                </div>

                            </div>
                            <!-- col 6 -->

                        </div> <!-- box_form_row -->

                        {% comment %}
                        <div class="wrapp_btn_add_plus profile_account_add">
                            <a href="javascript:;" class="btn_add_plus">Добавить счет</a>
                        </div>
                        {% endcomment %}

                        <div class="align_right">
                           <button type="submit" class="btn hight_orange">Сохранить</button>
                        </div>

                    </div> <!-- wrapp_form -->
                </form>
            {% endif %}



            {% block role_specific %}

            {% endblock %}


            <div class="align_right">
                <a href="/profile/skip_creation/" class="btn light_orange icon_right large_width" id="create_profile">
                   <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    Продолжить
                </a>
            </div>

        </section>

        <!-- - - - - - - - - - - - - - End of ? - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->


        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->

    </div>
{% endblock %}