{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
    <hr class="deviders1">
    <div id="content" class="content_bg verification_content"  style="background-image: url('static/images/bg-image/bg-type1.png');">
        <!-- - - - - - - - - - - - - - Name Block - - - - - - - - - - - - - - - - -->
        <div class="wrapp_verification">
            <div class="top_verification">
                <h3 class="title_verification">Вход в систему</h3>
            </div>

            <div class="content_verification">
                <form action="/sign_in" method="POST" class="wrapp_form_signin">
                    {% csrf_token %}
                    <div class="wrapp_verification_col">
                        <div class="verification_box_col">
                            <label for="" class="label1">E-mail</label>
                            <input name="email" type="email" required>
                        </div>

                        <div class="verification_box_col">
                            <label for="" class="label1">Пароль</label>
                            <input name="password" type="password" required>
                            {% if error %}
                            <p class="tooltip_txt1">
                                {{ error }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn hight_orange full_width">Войти</button>
                </form>

                <div class="box_btn clearfix">
                    {% comment %}<a href="/password_reset" class="light_orange">Забыли пароль?</a>{% endcomment %}
                    <a href="/register" class="light_orange">Зарегистрироваться</a>
                </div>
            </div>
        </div>
        <!-- - - - - - - - - - - - - - End of Name Block - - - - - - - - - - - - - - - - -->
    </div>
{% endblock %}
